[Unit]
Description = OpenLDAP server 

[Service]
ExecStartPre = mkdir -p /var/run/slapd
ExecStartPre = chown openldap:openldap /var/run/slapd
ExecStart = /usr/sbin/slapd -u openldap -g openldap -h "ldap:/// ldapi:/// ldaps:///" -F /etc/ldap/slapd.d -d 0
Restart = always
RestartSec = 180
ExecStop = rm -rf /var/run/slapd
LimitNOFILE = 100000

[Install]
WantedBy = multi-user.target
