[Unit]
Description = OpenLDAP server 

[Service]
ExecStartPre = /bin/mkdir -p /run/slapd
ExecStartPre = /bin/chown openldap:openldap /run/slapd
ExecStart = /usr/sbin/slapd -u openldap -g openldap -h "ldap:/// ldapi:/// ldaps:///" -F /etc/ldap/slapd.d -d 0
Restart = always
RestartSec = 180
ExecStop = /bin/rm -rf /var/run/slapd
LimitNOFILE = 100000

[Install]
WantedBy = multi-user.target
