[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Python IDE
Name[en]=PyCharm Python IDE
Name[fi]=PyCharm Python editori
Name[sv]=PyCharm Python editor
Comment[en]=PyCharm Python IDE
Comment[fi]=PyCharm Python editori
Comment[sv]=PyCharm Python editor
Encoding=UTF-8
TryExec=/opt/pycharm/bin/pycharm-wrapper
Exec=/opt/pycharm/bin/pycharm-wrapper
Icon=/opt/pycharm/bin/pycharm.png
Terminal=false
Type=Application
