Source: puavo-wlan
Section: utils
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0),
 libncurses5-dev,
 libnl-3-dev,
 libnl-genl-3-dev,
 pkg-config,
 pyqt4-dev-tools
Standards-Version: 3.9.3
Homepage: http://github.com/opinsys/puavo-wlan/

Package: puavo-wlanap
Architecture: all
Depends: ${misc:Depends},
 bridge-utils,
 hostapd (>= 2.1),
 isc-dhcp-client,
 iw,
 net-tools,
 puavo-client (>= 2.1.0),
 vtun,
 wireless-crda,
 wireless-regdb,
 wireless-tools
Description: host tunneled WLAN accesspoint
 puavo-wlanap glues together hostapd, vtun and bridge tools to make
 hosting a tunneled WLAN accespoint easy. Optionally, accesspoint can be
 configured from Puavo.
 .

Package: puavo-wlangw
Architecture: all
Depends: ${misc:Depends},
 bash,
 bridge-utils,
 daemon,
 net-tools,
 nmap,
 vtun
Description: host tunneled WLAN accesspoint
 puavo-wlangw glues together vtun and bridge tools to make
 hosting a tunneled WLAN gateway easy.
 .

Package: puavo-wlanmapper
Architecture: any
Depends: ${misc:Depends},
 libncurses5,
 libnl-3-200,
 libnl-genl-3-200,
 libtinfo5,
 python3,
 python3-dateutil,
 python3-matplotlib,
 python3-numpy,
 python3-pyqt4,
 python3-scipy,
 net-tools,
 wireless-tools
Description: measure and visualize signal strengths of WLAN access points
 Monitor 802.11 channels and measure received signal strengths of beacon
 frames to visualize coverage areas of access points as heatmap overlays
 on top of layout images.
 .
