Source: puavo-wlan
Section: utils
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0),
 libncurses5-dev,
 libnl-3-dev,
 libnl-genl-3-dev,
 pkg-config,
 pyqt4-dev-tools
Standards-Version: 3.9.3
Homepage: http://github.com/opinsys/puavo-wlan/

Package: puavo-wlanap
Architecture: all
Depends: ${misc:Depends},
 bash,
 bridge-utils,
 curl,
 daemon,
 hostapd (>= 2.1),
 iw,
 net-tools,
 netcat-openbsd,
 puavo-client (>= 2.1.0),
 socat,
 vtun,
 wireless-crda,
 wireless-regdb,
 wireless-tools
Description: host tunneled WLAN accesspoint
 puavo-wlanap glues together hostapd, vtun and bridge tools to make
 hosting a tunneled WLAN accespoint easy. Optionally, accesspoint can be
 configured from Puavo.
 .

Package: puavo-wlanap-dnsproxy
Architecture: all
Depends: ${misc:Depends},
 daemon,
 debianutils,
 dnsmasq-base
Recommends: puavo-wlanap
Description: DNS proxy responding to service list queries from WLAN networks
 puavo-wlanap-dnsmasq glues together puavo-wlanap, dnsmasq and iptables
 to respond to DNS service list queries from WLAN networks and forward
 all other DNS queries to upstream servers. Accesspoint-specific service
 lists are gathered from Puavo via its REST API.
 .

Package: puavo-wlanap-mdns
Architecture: all
Depends: ${misc:Depends},
 avahi-daemon,
 daemon,
 debianutils
Recommends: puavo-wlanap
Description: mDNS daemon responding to queries from WLAN networks
 puavo-wlanap-mdns glues together puavo-wlanap, avahi and iptables to
 respond to mDNS queries from WLAN networks.Accesspoint-specific service
 lists are gathered from Puavo via its REST API.
 .

Package: puavo-wlangw
Architecture: all
Depends: ${misc:Depends},
 bash,
 bridge-utils,
 daemon,
 net-tools,
 nmap,
 vtun
Description: host tunneled WLAN accesspoint
 puavo-wlangw glues together vtun and bridge tools to make
 hosting a tunneled WLAN gateway easy.
 .

Package: puavo-wlanmapper
Architecture: any
Depends: ${misc:Depends},
 libncurses5,
 libnl-3-200,
 libnl-genl-3-200,
 libtinfo5,
 python3,
 python3-dateutil,
 python3-matplotlib,
 python3-numpy,
 python3-pyqt4,
 python3-scipy,
 net-tools,
 wireless-tools
Description: measure and visualize signal strengths of WLAN access points
 Monitor 802.11 channels and measure received signal strengths of beacon
 frames to visualize coverage areas of access points as heatmap overlays
 on top of layout images.
 .
