#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	$(MAKE) -C ap install prefix=/usr sysconfdir=/etc DESTDIR=$(CURDIR)/debian/puavo-wlanap
	$(MAKE) -C gw install prefix=/usr sysconfdir=/etc DESTDIR=$(CURDIR)/debian/puavo-wlangw
	$(MAKE) -C mapper install DESTDIR=$(CURDIR)/debian/puavo-wlanmapper
	$(MAKE) -C controller install DESTDIR=$(CURDIR)/debian/puavo-wlancontroller

override_dh_install:
