

body
  font-family arial

.bb-wlan-stats
  float left
  border 1px solid black
  padding-left 5px
  margin 5px
  overflow-y auto
  overflow-x hidden
  width 250px
  height 400px
  h3
    font-size 12pt
  table
    text-align left
    font-size 8pt


.bb-wlan-layout
  .wlan-hosts
    width 900px;



