[Desktop Entry]
Version=1.0
Type=Application
Name=eBeam
Exec=/usr/local/bin/start_ebeam
Icon=/opt/interact/desktop/scrapbook.svg
Comment=eBeam Education Suite
