Source: puavo-autopilot
Section: admin
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0), make
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-autopilot

Package: puavo-autopilot
Architecture: all
Depends: ${misc:Depends},
 coreutils,
 escrotum,
 imagemagick,
 ruby,
 xautomation (>= 1.05)
Description: Automatic Puavo Desktop testing tool
 Provides scripts for testing various parts of Puavo desktop.
 .
