Source: puavo-vpn
Section: admin
Priority: extra
Maintainer: Tuomas Räsänen <tuomasjjrasanen@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-vpn

Package: puavo-vpn-client
Architecture: all
Depends: ${misc:Depends}, coreutils, openvpn
Description: Puavo VPN client
