<!DOCTYPE html>
<% if @cache == "true" %>
<html manifest="/screen.manifest<%= params[:resolution] ? "?resolution=" + params[:resolution].to_s : "" %>">
<% else %>
<html>
<% end %>
<head>
  <meta charset=utf-8 />
  <title>Iivari</title>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= yield %>

</body>
</html>
