<!DOCTYPE html>
<% if @cache == "true" %>
<html manifest="/screen.manifest<%= params[:resolution] ? "?resolution=" + params[:resolution].to_s : "" %>">
<% else %>
<html>
<% end %>
<head>
  <meta charset=utf-8 />
  <title>Iivari</title>

  <script src="/javascripts/jquery-1.4.4.min.js" type="text/javascript"></script> 
  <script src="/javascripts/jquery-ujs/src/rails.js" type="text/javascript"></script> 
  <%= csrf_meta_tag %>
</head>
<body>

  <%= yield %>

</body>
</html>
