<% if @slide.template == "web_page" %>

<%= yield %>

<% else %>

<div class="title_container">
<h1 class="title"><%= @slide.title %></h1>
</div>
<div class="tgradient0"></div>
<div class="tgradient1"></div>
<div class="tgradient2"></div>
<div class="tgradient3"></div>
<div class="tgradient4"></div>

<div class="content">
<%= yield %>
</div>

<% end %>

<div class="footer_container">
<div class="bgradient4"></div> 
<div class="bgradient3"></div> 
<div class="bgradient2"></div> 
<div class="bgradient1"></div> 
<div class="bgradient0"></div>
</div>
