[Unit]
Description = Puavo Samba Sync
After = network.target

[Service]
ExecStart = /usr/local/sbin/puavo-samba-sync
Restart = always
RestartSec = 60

[Install]
WantedBy = multi-user.target
