[Desktop Entry]
Name=Gwibber
GenericName=Social Client
X-GNOME-FullName=Gwibber Social Client
X-GNOME-FullName[af]=Gwibber sosiale-netwerksprogram
X-GNOME-FullName[an]=Client de retes socials Gwibber
X-GNOME-FullName[ar]=Gwibber عميل الشبكات الاجتماعية
X-GNOME-FullName[ast]=Veceru social Gwibber
X-GNOME-FullName[bg]=Работа в социалните мрежи Gwibber
X-GNOME-FullName[bn]=Gwibber সামাজিক ক্লায়েন্ট
X-GNOME-FullName[bs]=Gwibber društveni klijent
X-GNOME-FullName[ca]=Client social Gwibber
X-GNOME-FullName[ca@valencia]=Client social Gwibber
X-GNOME-FullName[cs]=Klient pro společenské sítě Gwibber
X-GNOME-FullName[da]=Gwibber - social netværksklient
X-GNOME-FullName[de]=Gwibber – Anwendung für Soziale Netzwerke
X-GNOME-FullName[el]=Λογισμικό κοινωνικής δικτύωσης Gwibber
X-GNOME-FullName[en_AU]=Gwibber Social Client
X-GNOME-FullName[en_CA]=Gwibber Social Client
X-GNOME-FullName[en_GB]=Gwibber Social Client
X-GNOME-FullName[eo]=Socia kliento Gvibero
X-GNOME-FullName[es]=Cliente de redes sociales Gwibber
X-GNOME-FullName[et]=Sotsioklient Gwibber
X-GNOME-FullName[eu]=Gwibber bezero soziala
X-GNOME-FullName[fa]=سرویس اجتماعی گوئیبر
X-GNOME-FullName[fi]=Gwibber – sosiaaliset mediat
X-GNOME-FullName[fil]=Gwibber Social Client
X-GNOME-FullName[fo]=Gwibber Sosialur Viðskiftari
X-GNOME-FullName[fr]=Client de réseaux sociaux Gwibber
X-GNOME-FullName[fy]=Gwibber Mikroblogklant
X-GNOME-FullName[gl]=Cliente social Gwibber
X-GNOME-FullName[he]=הלקוח החברתי Gwibber
X-GNOME-FullName[hi]=ग्विब्बर सामाजिक ग्राहक
X-GNOME-FullName[hr]=Gwibber društveni klijent
X-GNOME-FullName[hu]=Gwibber közösségi kliens
X-GNOME-FullName[ia]=Cliente de retes social Gwibber
X-GNOME-FullName[id]=Klien Sosial Gwibber
X-GNOME-FullName[io]=Gwibber Sociala Kliento
X-GNOME-FullName[it]=Client social network Gwibber
X-GNOME-FullName[ja]=Gwibber ソーシャルクライアント
X-GNOME-FullName[ka]=Gwibber სოციალური კლიენტი
X-GNOME-FullName[ko]=Gwibber 소셜 클라이언트
X-GNOME-FullName[lb]=Gwibber sozial Netzwierk Uwendung
X-GNOME-FullName[lt]=Gwibber socialinių tinklų klientas
X-GNOME-FullName[lv]=Gwibber sociālais klients
X-GNOME-FullName[ms]=Klien Sosial Gwibber
X-GNOME-FullName[nb]=Gwibber klient for sosiale medier
X-GNOME-FullName[nl]=Gwibber microblog-programma
X-GNOME-FullName[oc]=Client per las rets socialas Gwibber
X-GNOME-FullName[pa]=ਗਵਿੱਬਰ ਸਮਾਜਿਕ ਕਲਾਇਟ
X-GNOME-FullName[pl]=Klient społecznościowy Gwibber
X-GNOME-FullName[pt_BR]=Cliente de redes sociais Gwibber
X-GNOME-FullName[ro]=Gwibber - Client social
X-GNOME-FullName[ru]=Клиент микроблогов Gwibber
X-GNOME-FullName[sk]=Gwibber - klient pre sociálne siete
X-GNOME-FullName[sl]=Gwibber program za družabna omrežja
X-GNOME-FullName[sq]=Gwibber Klient Shoqëror
X-GNOME-FullName[sr]=Гвибер друштвени програм
X-GNOME-FullName[sv]=Sociala klienten Gwibber
X-GNOME-FullName[ta]=கிவிப்பர் குமுகாய வாங்கி
X-GNOME-FullName[te]=గ్విబర్ సామాజిక క్లైంటు
X-GNOME-FullName[th]=โปรแกรมเครือข่ายสังคม Gwibber
X-GNOME-FullName[tr]=Gwibber Sosyal İstemci
X-GNOME-FullName[ug]=Gwibber ئىجتىمائىي خېرىدارى
X-GNOME-FullName[uk]=Соціальний клієнт Gwibber
X-GNOME-FullName[uz]=Gwibber ижтимоий тармоқлар мижози
X-GNOME-FullName[vi]=Trạm mạng xã hội  Gwibber
X-GNOME-FullName[zh_CN]=Gwibber 社交客户端
X-GNOME-FullName[zh_HK]=Gwibber 社交網絡用戶端
X-GNOME-FullName[zh_TW]=Gwibber 社交網路客戶端
Type=Application
Comment=Update your microblog and follow your contacts' statuses
Exec=gwibber %U
Icon=gwibber
Categories=GTK;GNOME;Network;
X-GNOME-Gettext-Domain=gwibber
X-Ayatana-Appmenu-Show-Stubs=False
Actions=UpdateStatus

[Desktop Action UpdateStatus]
Name=Update Status
Exec=gwibber-poster
OnlyShowIn=Messaging Menu;
