[Unit]
Description=Puavo OS Command Shell
Conflicts=graphical.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/lib/puavo-ltsp-client/darkdm
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty8
TTYReset=yes
TTYVHangup=yes
Restart=always
RestartSec=0
