[Unit]
Description=Puavo OS Command Shell
Conflicts=graphical.target getty@tty6.service
After=multi-user.target
Requires=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/tmux new-session /usr/lib/puavo-ltsp-client/darkdm 6
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty6
TTYReset=yes
TTYVHangup=yes
Restart=always
RestartSec=0
Type=idle
