[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Devilspie2
Exec=devilspie2 --folder /etc/devilspie2
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Initialization
