## The default locale
d-i debian-installer/locale string en_US.UTF-8

## In case we are listening to a really slow DHCP-server.
d-i netcfg/dhcp_timeout string 60

## Either hard code the primary interface ...
d-i netcfg/choose_interface select eth0

## ... or let netcfg choose the first one with a link.
# d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string bootserver

d-i passwd/user-fullname string user
d-i passwd/username string user
d-i passwd/user-password password password
d-i passwd/user-password-again password password
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

d-i time/zone string Europe/Helsinki
d-i clock-setup/ntp boolean true

d-i partman-md/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-md/confirm_nooverwrite boolean true
d-i mdadm/boot_degraded boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/device_remove_lvm boolean true

d-i partman-auto/disk string /dev/sda /dev/sdb
d-i partman-auto/method string raid
d-i partman-auto/choose_recipe select boot-root
d-i partman-auto-lvm/new_vg_name string main
d-i partman-auto-lvm/guided_size string max

## Finish and confirm partitioning.
d-i partman/choose_partition select Finish partitioning and write changes to disk
d-i partman/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman-md/confirm_nooverwrite boolean true

## Empty string, no proxy.
d-i mirror/http/proxy string

d-i mirror/country string manual
d-i mirror/http/hostname string fi.archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string

d-i clock-setup/utc boolean true

## No automatic updates.
d-i pkgsel/update-policy select none
d-i pkgsel/install-language-support boolean false
# d-i pkgsel/language-packs multiselect en, fi, se

## Full-upgrade after install.
d-i pkgsel/upgrade select full-upgrade

## There's only one OS.
d-i grub-installer/only_debian boolean true

d-i preseed/late_command string sh /cdrom/puavo-bootserver-fix-partitions

## Reboot after install.
d-i finish-install/reboot_in_progress note

tasksel tasksel/first multiselect OpenSSH server
