[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Puavo exammode setup applet
Exec=puavo-exammode-setup-applet
Terminal=false
Type=Application
Categories=
GenericName=
