html,body{
  height: 100%;
}
body{
  font-size: 100%;
}
img{
  max-width: 100%;
  height: auto;
}
.thumbnail i{
  font-size: 300%;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: #B0C730;
  color: #333;
}
.breadcrumb{
  background-color:rgba(213, 205, 186, 0.25);
  border-radius:3px;
} 
.breadcrumb li {
  text-shadow: 0 1px 0 #E4DFD2;
}
.breadcrumb .divider {
  color: #444;
}
.container-fluid{
  margin: 0.25em auto;
  padding: 2%;
  position: relative;
  width: 95.333%;
}
.main{
  margin: 5% 0 0;
}
.sidebar{
  border-left: 2px solid rgba(90,90,90,0.7);
}
.row-fluid [class*="span"] .navigation{
  margin-left: 2.127659574468085%;
}
.well{
  background-color:#F0EEE1;
  background-color:rgba(240, 238, 225, 0.8);
}
.form-search{
  margin-bottom: 2%;
}

.form-horizontal{
  padding: 10px 0;
}
.profile-details{
  margin-bottom: 2%;
}
.user-info-details{

}
.thumbnail{
  border: medium none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 80%;
  word-wrap: break-word;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.thumbnail:hover:not(.user-img-name){
  background-color:rgba(237,113,19, 0.8);
  cursor: pointer;
}
.user-img-name{
  background-color: #E6E6DC;
  border: 5px solid rgba(240, 238, 228, 0.8);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1em 0;
}
.user-img-name p{
  font-size: 115%;
  font-weight: 700;
  margin: 0.25em 0 0;
}
.desktop-link:hover > div i{
  color:rgb(65,120,107);
}
.desktop-link img{
  width: 30%;
}
ul.thumbnails{
  position: relative;
}
.popover.bottom{
  margin: 0;
}
.popover.bottom .arrow{
  left:37%;
}
ul.nav{
  margin-bottom: 5px;
}
ul li ul.submenu{
  display: none;
  left:0;
  margin:0;
  position: absolute;
  width: 100%;
  z-index: 999;
}
ul li.desktop-link:hover ul.submenu{
  display: block;
}
.menu-item-header{
  font-size: 170%;
  margin-top: 0;
}
img.avatar, .logo img{
  max-width: 160px;
}
button.close{
  position: absolute;
  right: 10px;
  top: 5px;
}
.logout i{
  color:#AD0000;
}
.logout div:hover{
  background-color: #AD0000;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BC1111), to(#AD0000));
  background-image: -webkit-linear-gradient(top, #BC1111, #AD0000);
  background-image: linear-gradient(to bottom, #BC1111, #AD0000);
  box-shadow: inset 0 0 5px #555;
  -moz-box-shadow: inset 0 0 5px #555;
  -webkit-box-shadow: inset 0 0 5px #555;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFF;
}
.logout div:hover i{
  color:#FFF;
}
/* Do one thing*/
.justify{
  text-align: center;
}
.row-fluid [class*="span"] .margin03, .margin03{
  margin:0 3%;
}
.row-fluid [class*="span"] .smooth-margin, .smooth-margin{
  margin:0 1% 2%;
}
.row-fluid [class*="span"] .normal-margin{
  margin-left: 2.7624309392265194%;
}
.row-fluid [class*="span"] .margin20, .margin20{
  margin: 2% 0;
}
.row-fluid [class*="span"] .margin200, .margin200{
  margin: 2% 0 0;
}
.row-fluid .margin0, .margin0{
  margin: 0;
}
.margin0auto{
  margin: 0 auto !important;
}
.w50{
  width: 50%;
}
.w60{
  width: 60%;
}
.w70{
  width: 70%;
}
/* End of: Do one thing*/

/* Custom Media Queries*/
@media (max-width: 979px){
  body{
    font-size: 95%;
  }
  .row-fluid .span2 {
    margin-left: 5%;
  }
  .row-fluid [class*="span"] .normal-margin{
    margin-left: 0;
  }
}
@media (max-width: 768px){
 body{
    font-size: 90%;
  } 
  .row-fluid [class*="span"] .margin03, .margin03{
    margin:0;
  }
  .sidebar{
    border-left:none;
    border-top: 2px solid rgba(90,90,90,0.7);
    padding-top: 1em;
  }
  ul.thumbnails li.desktop-link{
    float:left;
    width: 20%;
  }
  .w50, .w60, .w70{
    width: 100%;
  }
}
