html,
body {
  background-color: transparent;
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
h2 {
  font-size: 120%;
  margin: 1% 0;
}
.container-fluid {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0.5em 1em;
  position: relative;
  width: 100%;
}
.well {
  background-color: #f0eee1;
  background-color: rgba(240,238,225,0.8);
}
.desktop-link .thumbnail {
  height: 85px;
}
.thumbnail {
  border: medium none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 80%;
  line-height: 1.5;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-wrap: break-word;
}
.thumbnail:hover:not(.ignore-thumbnail-hover) {
  background-color: rgba(237,113,19,0.8);
  cursor: pointer;
}
.thumbnail:active:not(.ignore-thumbnail-hover) {
  background-color: rgba(237,113,19,0.5);
  -webkit-box-shadow: inset 0 0 10px #edeada;
  box-shadow: inset 0 0 10px #edeada;
}
.thumbnail i {
  font-size: 300%;
  line-height: 0;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #b0c730;
  color: #333;
}
.breadcrumb {
  background-color: transparent;
}
.breadcrumb li {
  margin-right: 1%;
  text-shadow: 0 1px 0 #e4dfd2;
}
.breadcrumb li a {
  background-color: #d5cdba;
  background-color: rgba(213,205,186,0.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  font-weight: 700;
  padding: 0.5em;
}
.breadcrumb li a:hover,
.breadcrumb li a.current {
  background-color: #b0c730;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b0c730), color-stop(1, #bbd433));
  background-image: -webkit-linear-gradient(top, #b0c730 0%, #bbd433 100%);
  background-image: -moz-linear-gradient(top, #b0c730 0%, #bbd433 100%);
  background-image: -o-linear-gradient(top, #b0c730 0%, #bbd433 100%);
  background-image: -ms-linear-gradient(top, #b0c730 0%, #bbd433 100%);
  background-image: linear-gradient(top, #b0c730 0%, #bbd433 100%);
  color: #222;
  text-decoration: none;
}
.row-fluid [class*="span"] .navigation {
  margin-left: 2.127659574468085%;
}
.main {
  margin: 5% 0 0;
}
.main .menu-content {
  height: 310px;
  max-height: 310px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em;
}
.sidebar {
  border-left: 2px solid rgba(90,90,90,0.7);
}
.form-search {
  margin-bottom: 2%;
}
.form-horizontal {
  padding: 10px 0;
}
.profile-details {
  margin-bottom: 2%;
}
.sidebar-menu-ul li {
  width: 50%;
}
.sidebar-menu-ul li > div {
  padding: 10px;
}
.user-img-name {
  background-color: #e6e6dc;
  border: 5px solid rgba(240,238,228,0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 0;
}
.user-img-name p {
  font-size: 115%;
  font-weight: 700;
  margin: 0.25em 0 0;
}
.desktop-link:hover > div i {
  color: #41786b;
}
.desktop-link img {
  max-width: 64px;
  width: 30%;
}
.desktop-link img ~ p {
  padding-top: 0.65em;
}
.desktop-link i ~ p {
  margin: 0;
  padding: 1em 0 0;
}
ul.thumbnails {
  position: relative;
}
ul.nav {
  margin-bottom: 5px;
}
.logo {
  bottom: 10px;
  position: absolute;
  right: 10px;
}
.logo img {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}
.logo img:hover {
  -webkit-box-shadow: inset -75px -75px 400px rgba(230,230,220,0.8);
  box-shadow: inset -75px -75px 400px rgba(230,230,220,0.8);
  padding: 1em;
}
img.avatar,
.logo img {
  max-width: 160px;
}
button.close {
  position: absolute;
  right: 10px;
  top: 5px;
}
.logout i {
  color: #ad0000;
  line-height: 1;
}
.logout:hover {
  background-color: #ad0000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bc1111), color-stop(1, #ad0000));
  background-image: -webkit-linear-gradient(top, #bc1111 0%, #ad0000 100%);
  background-image: -moz-linear-gradient(top, #bc1111 0%, #ad0000 100%);
  background-image: -o-linear-gradient(top, #bc1111 0%, #ad0000 100%);
  background-image: -ms-linear-gradient(top, #bc1111 0%, #ad0000 100%);
  background-image: linear-gradient(top, #bc1111 0%, #ad0000 100%);
  -webkit-box-shadow: inset 0 0 5px #555;
  box-shadow: inset 0 0 5px #555;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.logout:hover i {
  color: #fff;
}
.shut-down-header {
  font-size: 170%;
}
.shut-down-header i {
  background-color: #ad0000;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  margin-right: 0.25em;
  padding: 0.15em 0.05em 0.15em 0.25em;
}
.shut-down-header i:hover {
  color: #fff;
}
.logout-btn-container {
  margin: 1.5em 0 0 2.8em;
}
.logout-btn-container button {
  margin-right: 0.35em;
  padding: 4px 8px;
}
.justify {
  text-align: center;
}
.row-fluid [class*="span"] .margin03,
.margin03 {
  margin: 0 3%;
}
.row-fluid [class*="span"] .smooth-margin,
.smooth-margin {
  margin: 0 0 2%;
}
.row-fluid [class*="span"] .normal-margin {
  margin-left: 2.7624309392265194%;
}
.row-fluid .margin20,
.margin20 {
  margin: 2% 0;
}
.row-fluid [class*="span"] .margin200,
.margin200 {
  margin: 2% 0 0;
}
.row-fluid .margin0,
.margin0 {
  margin: 0;
}
.margin0auto {
  margin: 0 auto !important;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(65,120,107,0.3);
  box-shadow: inset 0 0 6px rgba(65,120,107,0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(237,113,19,0.35);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(237,113,19,0.5);
  box-shadow: inset 0 0 6px rgba(237,113,19,0.5);
}
@media (max-width 979px) and (min-width 768px) {
  body {
    font-size: 95%;
  }
  .row-fluid .span2 {
    margin-left: 5%;
  }
}
@media (max-width 768px) {
  body {
    font-size: 90%;
  }
  .row-fluid [class*="span"] .margin03,
  .margin03 {
    margin: 0;
  }
  .sidebar {
    border-left: none;
    border-top: 2px solid rgba(90,90,90,0.7);
    padding-top: 1em;
  }
  ul.thumbnails li.desktop-link {
    float: left;
    width: 20%;
  }
  .w50,
  .w60,
  .w70 {
    width: 100%;
  }
}
