[Desktop Entry]
Encoding=UTF-8
Name=Puavo Laptop Setup
Name[fi]=Kannettavan asetukset
GenericName=Puavo Laptop Setup
Comment=Tool for setting up laptop configuration
Exec=puavo-laptop-setup
Icon=drive-harddisk-system
Terminal=false
Type=Application
Categories=Utils;
StartupNotify=true
