<h1 class="shut-down-header"><i class="icon-logout"></i>Sammuta?</h1>
<div class="logout-btn-container">
  <button class="btn bb-logout">Kirjaudu Ulos</button>
  {{#if fatClient}}
  <button class="btn bb-shutdown">Sammuta</button>
  <button class="btn bb-reboot">Käynnistä uudelleen</button>
  {{/if}}
  <button class="btn bb-cancel">Peruuta</button>
</div>
