<h1 class="shut-down-header"><img src="file:///usr/share/icons/Faenza/actions/48/system-shutdown.png">Sammuta?</h1>
<div class="logout-btn-container">
  <button class="btn bb-logout"><img src="file:///usr/share/icons/Faenza/actions/24/system-log-out.png">Kirjaudu Ulos</button>
  {{#if localBoot}}
  <button class="btn bb-shutdown"><img src="file:///usr/share/icons/Faenza/actions/24/system-shutdown.png">Sammuta</button>
  <button class="btn bb-reboot"><img src="file:///usr/share/icons/Faenza/actions/24/stock_undo.png">Käynnistä uudelleen</button>
  {{/if}}
  <button class="btn bb-cancel">Peruuta</button>
</div>
