<li class="span3 margin0 desktop-link" title="{{description}}" >
    <div class="thumbnail">
      {{#if cssIcon}}
        <i class="{{cssIcon}}"></i>
      {{/if}}
      {{#if osIconPath}}
      <img src="file://{{osIconPath}}">
      {{/if}}
     <p class="item-name" >{{name}}</p>
    </div>
</li>



