
<div class="profile">
  <img class="avatar" src="styles/theme/default/img/anonymous.png">
  <span>{{user.fullName}}</span>
</div>

<div class="settings-wrapper">
  <div class="settings-container">
  </div>
</div>

<div class="sidebar-footer">
  <img alt="Opinsys" title="Opinsys" width="100" src="styles/theme/default/img/logo.png">
</div>








