[user]
        name = Tuomas Räsänen
        email = tuomasjjrasanen@tjjr.fi

[color]
        ui = True

[format]
        signoff = True
        thread = True
[push]
        default = nothing
[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(bold yellow)%d%Creset' --abbrev-commit
