
bg_color = #F0EEE1
text_color = #AAA
header_size = 50%

body
  font-family: "Trebuchet MS",Arial,Helvetica;
  background-color bg_color
  a, a:visited
    color darken(text_color, 30)
  a:hover
    text-decoration none

.opinsys-logo
  position absolute
  right 10%
  top 0em
  z-index -1


