.wlansprite,
.wlanwlan00,
.wlanwlan01,
.wlanwlan02,
.wlanwlan03,
.wlanwlan04,
.wlanwlan05,
.wlanwlan06,
.wlanwlan07,
.wlanwlan08,
.wlanwlan09,
.wlanwlan10,
.wlanwlan11,
.wlanwlan12 {
  background: transparent url("/img/wlan-sprite.png") no-repeat;
  background-color: transparent;
  border: 0;
  display: block;
}
.wlanwlan00 {
  width: 170px;
  height: 170px;
  background-position: 0px 0px;
}
.wlanwlan01 {
  width: 170px;
  height: 170px;
  background-position: -170px 0px;
}
.wlanwlan02 {
  width: 170px;
  height: 170px;
  background-position: -340px 0px;
}
.wlanwlan03 {
  width: 170px;
  height: 170px;
  background-position: -510px 0px;
}
.wlanwlan04 {
  width: 170px;
  height: 170px;
  background-position: -680px 0px;
}
.wlanwlan05 {
  width: 170px;
  height: 170px;
  background-position: -850px 0px;
}
.wlanwlan06 {
  width: 170px;
  height: 170px;
  background-position: -1020px 0px;
}
.wlanwlan07 {
  width: 170px;
  height: 170px;
  background-position: -1190px 0px;
}
.wlanwlan08 {
  width: 170px;
  height: 170px;
  background-position: -1360px 0px;
}
.wlanwlan09 {
  width: 170px;
  height: 170px;
  background-position: -1530px 0px;
}
.wlanwlan10 {
  width: 170px;
  height: 170px;
  background-position: -1700px 0px;
}
.wlanwlan11 {
  width: 170px;
  height: 170px;
  background-position: -1870px 0px;
}
.wlanwlan12 {
  width: 170px;
  height: 170px;
  background-position: -2040px 0px;
}
body {
  font-family: "Trebuchet MS", Arial, Helvetica;
  background-color: #f0eee1;
}
body a:hover {
  text-decoration: none;
}
.bb-wlan-stats {
  float: left;
  margin: 2px;
  font-size: 8pt;
  margin: 1px;
  width: 170px;
  height: 170px;
  cursor: pointer;
}
.bb-wlan-stats .content {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 55px;
  margin-left: 45px;
  width: 75px;
  word-wrap: break-word;
}
.bb-wlan-stats .content .count {
  font-size: 18pt;
}
.bb-wlan-layout {
  color: #aaa;
  width: 90%;
  margin: 0 auto;
}
.bb-wlan-layout .header {
  margin-left: 44px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #c5be8c;
}
.bb-wlan-layout .wlan-hosts-wrap {
  margin-top: 1em;
  left: 0px;
}
.bb-wlan-layout h1 {
  color: #000;
  font-size: 18pt;
  width: 400px;
}
.loading {
  position: absolute;
  top: 0px;
  left: 0px;
}
.bb-total-stats {
  width: 400px;
}
.opinsys-logo {
  position: absolute;
  right: 10%;
  top: 0em;
}
.bb-lightbox .background,
.bb-lightbox .wrap,
.bb-lightbox .content {
  position: fixed;
}
.bb-lightbox .background {
  z-index: 99;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #000;
  opacity: 0.3;
}
.bb-lightbox .wrap {
  z-index: 100;
  background-color: #fff;
  color: #000;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  margin: 0 auto;
}
.bb-lightbox .wrap .close {
  float: right;
}
.bb-lightbox .wrap {
  background-color: #e7e4d0;
  border-radius: 10px;
}
.bb-lightbox .content {
  padding: 1em;
  background-color: #f0eee1;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  overflow-y: auto;
}
.bb-lightbox .close {
  position: relative;
  right: -25px;
  top: -25px;
  border: 5px solid #cec79d;
  color: #000;
  font-size: 25pt;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #f0eee1;
}
.bb-lightbox .close:hover {
  background-color: #aca159;
}
.bb-lightbox table {
  color: #444;
  text-align: left;
  font-size: 8pt;
  margin-right: 1em;
}
.bb-lightbox table a,
.bb-lightbox table a:visited,
.bb-lightbox table a:active {
  color: #000;
}
.bb-lightbox table td {
  vertical-align: top;
}
.bb-lightbox table .manufacturer {
  width: 100px;
  overflow: hidden;
}
.bb-wlan-host-details .previous-clients,
.bb-wlan-client-details .previous-clients,
.bb-wlan-host-details .connected,
.bb-wlan-client-details .connected {
  float: left;
  margin-left: 5px;
}
.bb-school-select {
  float: right;
  font-size: 18pt;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* for IE/Mac */
