@import "wlan-sprite.styl"

body
  font-family arial
  background-color #E7E4D0


.bb-wlan-stats.selected
  border 1px solid black

.bb-wlan-stats
  float left
  margin 2px
  font-size 8pt
  margin 1px
  width 170px
  height 170px
  cursor pointer

  .content
    color white
    font-weight bold
    margin-top 55px
    margin-left 50px
    width 75px
    word-wrap break-word


.bb-wlan-host-details
  border 1px solid black
  .history, .connected
    float left
    margin-left 5px
  table
    text-align left
    font-size 8pt

.bb-wlan-layout
  width 90%
  .wlan-hosts-wrap
    padding-left 3em
    padding-right 3em
    position absolute
    left 0px

.bb-lightbox

  .background, .wrap
    position fixed

  .background
    z-index 99
    top 0px
    right 0px
    left 0px
    bottom 0px
    background-color black
    opacity 0.2

  .wrap
    z-index 100
    background-color white
    color black
    width 80%
    height 70%
    left 0px
    right 0px
    margin 0 auto
    .close
      float right



.clearfix:after
  content "."
  display block
  height 0
  clear both
  visibility hidden

.clearfix {display: inline-block;}  /* for IE/Mac */
