@import "wlan-sprite.styl"

body
  font-family arial
  background-color #E7E4D0


.bb-wlan-stats.selected
  border 1px solid black

.bb-wlan-stats
  float left
  margin 2px

  .content
    color white
    font-weight bold
    margin-top 55px
    margin-left 50px
    width 75px
    word-wrap break-word

  font-size 8pt
  margin 1px
  width 170px
  height 170px
  cursor pointer

.bb-wlan-host-details
  border 1px solid black
  .history, .connected
    float left
    margin-left 5px
  table
    text-align left
    font-size 8pt

.bb-wlan-layout
  width 90%
  .wlan-hosts
    padding-left 3em
    padding-right 3em
    position absolute
    left 0px


.clearfix
  clear both
  float none


