[Unit]
Description=file system events scheduler
Documentation=man:incrond(8)

[Service]
Type=forking
PIDFile=/run/incrond.pid
ExecStart=/usr/sbin/incrond

PrivateTmp=true

[Install]
WantedBy=multi-user.target
