// Default theme

@import "colors"

.bb-breadcrumbs
  li
    margin-top 7px
    margin-left 5px
  li a:hover
    background-color itemHovercolor


.machine-hostname, .bb-breadcrumbs li a
  border-radius 5px
  background-color breadcrumbBgColor
  padding 8px
  color breadcrumbFontColor
  text-decoration none

