
// Default theme

mainBgColor = #f2f0e6
sidebarBgColor = #e6e6dc
sidebarDetailsBg = #dfd7cf

itemListBgColor = #ffffff
itemHovercolor = #ef8c41
itemListBorderColor = #dddddd

logoutButtonColor = #c14946
