
@import "colors"

.folder-title-container
  background-color: white;
  border-top-left-radius 5px
  border-top-right-radius 5px
  border-top 1px solid itemListBorderColor !important
  border-left 1px solid itemListBorderColor !important
  border-right 1px solid itemListBorderColor !important

