
// Default theme

.bb-lightbox
  .background
    background-color rgba(0, 0, 0, 0.8)

  .wrap
    background-color #f2f0e6
    border 5px solid rgb(62,62,45)
    border-radius 4px
    box-shadow 10px 10px 20px #222, -10px -10px 20px #222
    color black

.bb-lightbox.fullscreen .wrap
  border-radius 0px