
// Default theme

.logout-btn-container
  button
    border: 1px solid #ccc
    color: #ffffff
    &:hover
      border: 1px solid #dcdcdc
      box-shadow inset 5px 5px 35px rgba(70,70,70,0.35), inset -5px -5px 35px rgba(70,70,70,0.35)
      cursor pointer

  .js-logout
    background-color #ef8c41
    &:hover
      background-color #FF7710
  .js-shutdown
    background-color #c82828
    &:hover
      background-color #ff0000
  .js-reboot
    background-color #28A228
    &:hover
      background-color #00B100

  .js-cancel
    float: right
    background-color: #999
