
// Default theme

.bb-logout-view
  a
    color black
  .logout-btn-container
    .js-other select, .action .item
      color black
      font-size 1rem
  textarea
    background-color rgb(20, 20, 20)
    &:focus
      background-color white