
// Default theme

.bb-logout-view
  a
    color black
  .logout-btn-container
    .js-other select, .action .item
      color black
      font-size 1rem
  textarea
    background-color rgb(20, 20, 20)
    &:focus
      background-color white
  
  .info
    background-color rgb(217, 237, 247)
    border 1px solid rgb(188, 232, 241)
    border-radius 4px
    font-size 1rem
    padding 10px 15px
    position absolute
    right 2%
    top 3%
