
// Default theme

@import "colors"


.bb-menu-list::-webkit-scrollbar
  width 16px

.bb-menu-list::-webkit-scrollbar-button
  width 16px
  height 5px

.bb-menu-list::-webkit-scrollbar-track
  background #ccc
  border-radius 8px

.bb-menu-list::-webkit-scrollbar-thumb
  background #de7b30
  border-radius 8px

.bb-menu-list::-webkit-scrollbar-thumb:hover
  background #de7b30


.bb-menu-list
  background-color itemListBgColor
  border-radius 5px
  border 1px solid itemListBorderColor
  border-top 0px
  border-top-left-radius 0px
  border-top-right-radius 0px
