
// Default theme

@import "colors"

.bb-menu-item
  border-radius 5px

  &.type-app:hover, &.type-hover-btn:hover
    background-color itemHovercolor

  &.selectHighlight
    background-color itemHovercolor

