
// Default theme

@import "colors"

.bb-menu-list
  background-color itemListBgColor
  border-radius 5px
  border 1px solid itemListBorderColor
  border-top 0px
  border-top-left-radius 0px
  border-top-right-radius 0px
