
// Default theme

@import "colors"


.bb-menu-list::-webkit-scrollbar
  width: 8px;

.bb-menu-list::-webkit-scrollbar-button
  width 8px
  height 5px

.bb-menu-list::-webkit-scrollbar-track
  background #eee
  border thin solid lightgray
  box-shadow 0px 0px 3px #dfdfdf inset
  border-radius 10px

.bb-menu-list::-webkit-scrollbar-thumb
  background #999
  border thin solid gray
  border-radius 10px

.bb-menu-list::-webkit-scrollbar-thumb:hover
  background #7d7d7d


.bb-menu-list
  background-color itemListBgColor
  border-radius 5px
  border 1px solid itemListBorderColor
  border-top 0px
  border-top-left-radius 0px
  border-top-right-radius 0px
