[Desktop Entry]
Version=1.0
Name=Puavo ERS
Comment=Puavo ERS
Exec=puavo-ers-startup
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
X-GNOME-Autostart-enabled=true
