[Desktop Entry]
Version=1.0
Name=Puavo ERS Applet
Comment=Puavo ERS Applet
Exec=puavo-ers-applet
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
X-GNOME-Autostart-enabled=true
