.panel-favorites {
    spacing: 6px;
    padding-left: 0px;
    padding-right: 18px;
}

.panel-favorites:rtl {
    spacing: 6px;
    padding-left: 18px;
    padding-right: 0px;
}

.panel-launcher-label {
    border-radius: 7px;
    padding: 4px 12px;
    background-color: rgba(0,0,0,0.9);
    color: white;
    text-align: center;
    font-size: 9pt;
    font-weight: bold;
    -y-offset: 6px;
}
