
.bb-lightbox

  // Structure
  .background, .wrap, .content
    position fixed
  .background
    z-index 99
    top 0px
    right 0px
    left 0px
    bottom 0px
    background-color black
    opacity 0.3
  .wrap
    z-index 100
    background-color white
    color black
    left 5%
    right 5%
    top 5%
    bottom 5%
    margin 0 auto
    .close
      float right
