
.bb-lightbox

  // Structure
  .background, .wrap, .content
    position fixed
  .background
    background-color rgba(20, 20, 20, 0.5)
    bottom 0px
    left 0px
    position absolute
    right 0px
    top 0px
    z-index 99
    
  .wrap
    z-index 100
    background-color white
    color black
    left 5%
    right 5%
    top 5%
    bottom 5%
    .close
      float right
