
global-reset()


.bb-menu

  .menu-left
    width 59%
  .menu-right
    width 38%

  .menu-left, .menu-right
    float left

    border 1px solid black
    margin 1px


  .bb-menu-item
    border-radius 5px
    float left

    border 5px solid green
    margin 10px

.clearfix
  clear both
