.bb-lightbox .background,
.bb-lightbox .wrap,
.bb-lightbox .content {
  position: fixed;
}
.bb-lightbox .background {
  background-color: rgba(20,20,20,0.5);
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99;
}
.bb-lightbox .wrap {
  z-index: 100;
  background-color: #fff;
  color: #000;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
}
.bb-lightbox .wrap .close {
  float: right;
}
