<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>LTSP Events</title>
    <link type="text/css" rel="stylesheet" media="all" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script data-main="/scripts/app/main" src="/scripts/vendor/require.js"></script>
</head>
<body>
    <h1>Hello</h1>
</body>
</html>
