<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link type="text/css" rel="stylesheet" media="all" href="/styles/orgindex.css">

  <title>Statistics - Opinsys Oy</title>

  <script type="x-template-handlebars" id="school-list">
    <h3>Wlan</h3>
    <ul>
      {{#each schools}}
      <li>
        <a href="{{url}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </script>

  <script>var require = { baseUrl: "/scripts/" };</script>
  <script src="/scripts/require.js"></script>
  <script src="/scripts/config.js"></script>
  <script src="/scripts/orgindex-<%= appLoad %>.js"></script>

</head>
<body>
  <h1 class="opinsys-logo" ><a href="http://opinsys.fi/"><img src="/img/opinsys-logo.png"></a></h1>
  <h2>Statistics for <span class="org-title">...</span></h2>
  <div class="content">Loading...</div>
</body>
</html>
