[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Puavo Display Setup
Exec=/usr/lib/puavo-ltsp-client/puavo-display-setup
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
