[Desktop Entry]
Version=1.0
Name=Puavo-x2go-set-xrandr-mode
Comment=Set screen mode with xrandr on Puavo X2GO session
Exec=/usr/lib/puavo-ltsp-client/puavo-x2go-set-xrandr-mode
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
