#navbar_first_level{
    clear: both;
    float: left;
    height: 60px;
    margin: 10px 0 0;
    width: 952px;
}
#navbar_first_level h1 {
    float: left;
    font-size: 2.5em;
    margin: 10px 0 0 10px;
}


#top-area {
        background: #f7efe7;
}


/*=== Navigation ===*/

#navbar_second_level {
background: url("../../images/bg-fabric-green-metal.png") repeat scroll 0 27px #C3F7A6;
border-left: 1px solid #222222;
border-radius: 0 12px 0 0;
border-right: 1px solid #222222;
border-top: 1px solid #222222;
clear: both;
color: #4A4D4A;
float: left;
font-size: 11px;
font-weight: bold;
height: 50px;
margin: 0 0 -5px;
padding: 0;
text-transform: uppercase;
width: 100%;
-moz-border-radius: 0 12px 0 0;
}
#navbar_second_level ul:not(.submenu) {
border-bottom: 1px solid #222222;
display: block;
height: 35px;
list-style: none outside none;
margin: -2px 0 0;
padding: 0;
width: 705px;
}
#navbar_second_level ul li ul {
background: none repeat scroll left 35px #FFFFFF;
border-bottom: 1px solid #222222;
border-right:1px solid #222222;
border-left:1px solid #222222;
border-radius: 0 0 10px 10px;
color: #0395CC;
display: none;
margin: 8px 0 0 -11px;
padding: 10px 10px 5px;
position: absolute;
width:95px;
z-index: 999;
-moz-border-radius: 0 0 10px 10px;
-webkit-border-radius: 0 0 10px 10px;
}
#navbar_second_level ul li:hover ul {
    display: block;
}
#navbar_second_level ul li ul li:first-child {
    border-top: medium none;
}

#navbar_second_level ul li ul li {
border-top: 1px solid #606060;
display: block;
list-style-type: none;
margin: 0 5px 10px 0;
padding: 5px 5px 0 0;
}
#navbar_second_level ul li ul li a{
background:none;
display:block;
padding: 0.5em 0 0;
}
#navbar_second_level ul li ul.submenu li:hover{
background:none;
border: medium none;
border-radius:0;
}
#navbar_second_level ul li ul.submenu li:hover:not(:first-child){
border-top: 1px solid #606060;
}
#navbar_second_level li {
display: inline-block;
line-height: 1.5em;
margin: 0 0 0 6px;
padding: 11px 11px 10px 10px;
text-align: center;
text-decoration: none;
width: 95px;
}

#navbar_second_level > li:first-child{
margin: 0 0 10px 6px;
}
#navbar_second_level ul:first-child > li:hover:not(.current){
background: none repeat scroll 0 0 #FFFFFF;
border-radius: 10px 10px 0 0;
border-left: 1px solid #222222;
border-radius: 10px 10px 0 0;
border-right: 1px solid #222222;
border-top: 1px solid #222222;
height: 15px;
margin:0 0 0 5px;
padding:10px;
-moz-border-radius:10px 10px 0 0;
-webkit-border-radius:10px 10px 0 0;
}
#navbar_second_level li a {
border-radius: 10px 10px 0 0;
padding:10px;
text-decoration: none;
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
}
#navbar_second_level li.current {
background: none repeat scroll 0 0 #FFFFFF;
border-left: 1px solid #222222;
border-radius: 10px 10px 0 0;
border-right: 1px solid #222222;
border-top: 1px solid #222222;
height: 20px;
padding: 10px 10px 5px;
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
}
#navbar_second_level li.current > a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #4A4D4A;
}
