#top-menu {
float: left;
font-size: 12px;
font-weight: bold;
line-height: 35px;
list-style: none outside none;
margin: 0;
padding: 0 5px 0 10px;
text-transform: uppercase;
z-index: 1000;
}
#nav1 ul {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    list-style: none outside none;
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 99;
}
#nav1 ul:only-child > li {
    border-radius: 30px 30px 0 0;
    padding: 0;
    width: 130px;
    -moz-border-radius:30px 30px 0 0;
}
#nav1 ul a{
display:block;
}
#top-menu > li, #nav1 ul > li {
  background:url("../../images/bg-fabric-orange-metal.png") repeat scroll 0 0 #F2CF93;
    cursor: pointer;
    float: left;
    margin: 0 5px 0 0;
    padding: 0 5px 0 15px;
    position: relative;
}
#nav1 ul > li:last-child {
    margin: 0;
}
#nav1 ul > li:hover:not(.current_page_item){
background:url("../../images/bg-fabric-green-metal.png") repeat scroll left 36px #C3F7A6;
height:51px;
}
#top-menu li ul, #nav1 ul li ul {
background: url("../../images/bg-fabric-orange-metal.png") repeat scroll left 35px #F2CF93;
border-radius: 0 0 20px 20px;
color: #0395CC;
display: none;
left: 0;
line-height: 16px;
margin-top: 50px;
padding: 0;
position: absolute;
top: 0;
z-index: 999;
-webkit-border-radius: 0 0 20px 20px;
-moz-border-radius: 0 0 20px 20px;
}
#nav1 ul li ul {
    width: 130px;
}
#top-menu li ul {
left: -5px;
margin: 35px 0 0;
max-height: 500px;
overflow: auto;
padding: 0 10px 0 0;
}
#top-menu li:hover ul, #nav1 ul li:hover ul {
    display: block;
}
#top-menu li ul li, #nav1 ul li ul li {
border-top: 1px solid #606060;
display: block;
font-size: 9pt;
list-style-type: none;
margin: 8px 20px;
padding: 5px 15px 0 0;
width: 170px;
}
#top-menu li ul li a:hover {
background: none repeat scroll 0 0 #FFFFFF;
border-radius: 0 8px 8px 0;
margin: -8px -20px -5px;
padding: 8px 20px 5px;
-webkit-border-radius: 0 8px 8px 0;
-moz-border-radius: 0 8px 8px 0;
}
#top-menu li ul li:first-child, #nav1 ul li ul li:first-child {
    border-top: medium none;
}
#top-menu li ul li a, #nav1 ul li ul li a {
    display: block;
}
#top-menu #main, #nav1 ul #main {
    background-color: #7CB7E3;
    color: #FFFFFF;
    left: 0;
    padding-top: 20px;
    top: -20px;
    z-index: 999;
}
#top-menu li ul li:last-child {
    padding-bottom: 10px;
}

.topNavContainer {
background: url("../../images/bg-fabric-orange-metal.png") repeat scroll 0 0 #F2CF93;
box-shadow: 2px 4px 6px rgba(68, 68, 68, 0.80);
height: 35px;
margin: 0;
min-width: 780px;
position: fixed;
top:0;
width: 100%;
z-index: 9999;
-moz-box-shadow: 2px 4px 6px rgba(68, 68, 68, 0.80);
-webkit-box-shadow: 2px 4px 6px rgba(68, 68, 68, 0.80);
}
.topNavContainer input {
background: url("../../images/magnifier.png") no-repeat scroll 95% 3px #FFFFFF;
border: 1px solid #CCCAAA;
border-radius: 14px 14px 14px 14px;
float: left;
font-size:10px;
margin: 0 10px 0 0 !important;
padding: 5px 30px 5px 10px;
width: 150px;
-moz-border-radius: 14px 14px 14px 14px;
-webkit-border-radius: 14px 14px 14px 14px;
}
.topNavContentContainer{
margin: 0 auto;
max-width: 950px;
}
#top-menu .last_one, #nav1 ul .last_one {
background: none repeat scroll 0 0 transparent;
border: medium none;
height: 0;
margin: 0;
padding: 0;
position: relative;
}
#top-menu .middle, #nav1 ul .middle {
    height: 20px;
    left: 18px;
    position: absolute;
    top: 0;
    width: 105px;
}
#top-menu-right {
float: right;
margin: 0 5px 0 0;
}
#top-menu-right li a[onclick]{
background: none repeat scroll 0 0 #AD0000;
border-radius: 6px 6px 6px 6px;
color: #FFFFF0;
line-height: 1.8;
margin: -1px 0 0 10px;
padding: 2px 10px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
}
#top-menu-right li a[onclick]:hover{
background: none repeat scroll 0 0 #DA0000;
}
#nav1 ul .current_page_item {
background: url("../../images/bg-fabric-green-metal.png") repeat scroll 0 0 #C3F7A6;
border-left: 1px solid #222222;
border-right: 1px solid #222222;
border-top: 1px solid #222222;
height: 50px;
}

ul.menu {
list-style: none outside none;
    margin: 0;
    padding: 5px 0 0;
}
ul.menu li {
float: left;
line-height: 2;
margin: 0;
padding: 0 2px;
position: relative;
}
ul.menu li span {
color: #222222;
display: block;
padding: 0 5px;
text-decoration: none;
width: auto;
}
ul.menu li a {
display: block;
font-weight: bolder;
padding: 0 5px;
text-decoration: none;
}
ul.menu li.last a {
background: none repeat scroll 0 0 transparent;
}
ul.menu li a.sub {
padding-right: 15px;
text-transform: uppercase;
}
ul.menu li span.sub {
color: #222222;
font-weight: bolder;
padding-right: 10px;
text-transform: uppercase;
}
ul.menu li:hover, ul.menu li.hover {
}

li.left a {
    border-bottom-left-radius: 12px;
}
ul.menu li.active a {
    color: #B6E3EC;
}
ul.menu ul {
    border-top: 1px solid #D7D7D7;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    top: 32px;
    width: 168px;
}
ul.menu ul ul {
}
ul.menu li:hover li, ul.menu li:hover li a, ul.menu li.hover li, ul.menu li.hover li a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
ul.menu li li {
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    width: 100%;
}
ul.menu li li.last {
    border-bottom: 1px solid #D7D7D7;
}
ul.menu li li a {
    padding: 5px 5px 5px 10px;
}
ul.menu li:hover li:hover a, ul.menu li.hover li.hover a {
    background: none repeat scroll 0 0 #F6F6F6;
    color: #4A4D4A;
}
ul.menu li:hover li.active a, ul.menu li.hover li.active a {
    color: #F15C30;
}
ul.menu li li a.sub {
    padding-right: 15px;
}
ul.menu li:hover li:hover a.sub, ul.menu li.hover li.hover a.sub {
    background: none repeat scroll 0 0 #F6F6F6;
}
ul.menu ul ul {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 169px;
    top: -1px;
}
ul.menu li:hover li:hover li:hover a, ul.menu li.hover li.hover li.hover a {
    background: none repeat scroll 0 0 #E6E6E6;
    color: #000000;
}
ul.menu li:hover li:hover li.active a, ul.menu li.hover li.hover li.active a {
    color: #F15C30;
}
ul.menu li:hover li:hover li:hover a.sub, ul.menu li.hover li.hover li.hover a.sub {
}
ul.menu li:hover li:hover li:hover li, ul.menu li:hover li:hover li:hover li a, ul.menu li.hover li.hover li.hover li, ul.menu li.hover li.hover li.hover li a {
    color: #7C7C7C;
}
ul.menu li:hover li:hover li:hover li:hover a, ul.menu li.hover li.hover li.hover li.hover a {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
}
ul.menu li:hover li:hover li:hover li.active a, ul.menu li.hover li.hover li.hover li.active a {
    color: #F15C30;
}
ul.menu li:hover li:hover li:hover li a.sub, ul.menu li.hover li.hover li.hover li a.sub {
    background: none repeat scroll 0 0 #E6E6E6;
}
ul.menu li:hover li:hover li:hover li:hover a.sub, ul.menu li.hover li.hover li.hover li.hover a.sub {
    background: none repeat scroll 0 0 #CCCCCC;
}
div#nav ul ul ul ul ul {
    display: none;
}
ul.menu ul, ul.menu li:hover ul ul, ul.menu ul ul, ul.menu li:hover ul ul ul, ul.menu ul ul ul, ul.menu li:hover ul ul ul ul {
    left: -999em;
    position: absolute;
}
ul.menu li:hover ul, ul.menu li li:hover ul, ul.menu li li li:hover ul, ul.menu li li li li:hover ul {
    left: -1px;
    z-index: 999;
}
ul.menu li.hover ul ul, ul.menu li.hover ul ul ul, ul.menu li.hover ul ul ul ul {
    left: -999em;
    position: absolute;
}
ul.menu li.hover ul, ul.menu li li.hover ul, ul.menu li li li.hover ul, ul.menu li li li li.hover ul {
    left: -1px;
    z-index: 999;
}
