[Desktop Entry]
Type=Application
Name=Indicator Power
Exec=/usr/lib/i386-linux-gnu/indicator-power/indicator-power-service
NoDisplay=true
StartupNotify=false
Terminal=false
