[Desktop Entry]
Name=SMART Board Tools
Encoding=UTF-8
Version=1.0
X-GNOME-Autostart-enabled=true
Exec=/usr/local/bin/start_smartboard_tools
Type=Application
Icon=system-run
Comment=SMART Software
