Source: puavo-ds-slave
Section: admin
Priority: extra
Maintainer: Juha Erkkilä <Juha.Erkkila@opinsys.fi>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://github.com/opinsys/puavo-tools

Package: puavo-ds-slave
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LDAP slave replication tool
 puavo-ds-slave handles LDAP slave replication from master
 server.
