[Desktop Entry]
Name=Onboard
Exec=/usr/local/lib/puavo-onboard
Type=Application
NoDisplay=true
X-Ubuntu-Gettext-Domain=onboard
X-GNOME-AutoRestart=true
OnlyShowIn=GNOME;Unity;
