[Desktop Entry]
Name=Toggle Onboard
Exec=dbus-send --session --type=method_call --dest=org.onboard.Onboard /org/onboard/Onboard/Keyboard org.onboard.Onboard.Keyboard.ToggleVisible
Type=Application
Terminal=false
Icon=input-keyboard-symbolic
NoDisplay=true
