[Desktop Entry]
Name=Workspace overview
Exec=/usr/local/lib/overview-toggle
Type=Application
Terminal=false
Icon=preferences-system-windows
NoDisplay=true
