<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puavo's WLAN Controller - API</title>
  </head
  <body>
    <h1>API</h1>
    <h2>PUT <%= host_route %></h2>
    <p>Create or update a host resource. Must be called periodically.</p>
    <h3>Request data</h3>
    <p>Content-Type: application/json</p>
    <h4>Example</h4>
    <pre><code>{
  "hostname": "accesspoint-01",
  "interfaces": [
    {
      "bssid": "01:02:03:04:05:06",
      "channel": 11,
      "ssid": "MyNet",
      "start_time": "2015-12-10 11:23:59 +0200",
      "rx_bytes": 45327,
      "tx_bytes": 21335,
      "tx_power_limit_dBm": 13,
      "stations": [
        {
          "mac": "06:05:04:03:02:01",
          "connected_time": 232,
          "rx_bytes": 32322,
          "tx_bytes": 11323
        }
      ]
    }
  ]
}</code></pre>
    <h3>Response data</h3>
    <p>Content-Type: application/json</p>
    <h4>Example</h4>
    <pre><code>{
  "ping_interval_seconds": 20
}</code></pre>

    <h2>DELETE <%= host_route %></h2>
    <p>Delete a host resource. Should be called when a host terminates.</p>
  </body>
</html>
