#launcherBox {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px 0px 0px 4px;
    padding: 10px;
}

.launcher-box-item:hover {
    border-radius: 4px 4px 4px 4px;
    background: rgba(128, 128, 128, 0.5);
}
