#launcherBox {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px 0px 0px 8px;
    padding: 10px;
}

.launcher-box-item {
    padding: 6px;
}

.launcher-box-item:hover {
    border-radius: 8px 8px 8px 8px;
    background: rgba(128, 128, 128, 0.5);
}
