[Desktop Entry]
Version=1.0
Name=Puavo-autopilot-session
Comment=Puavo autopilot desktop session
Exec=puavo-autopilot-session
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
