@import "wlan-sprite.styl"

bg_color = #F0EEE1
text_color = #AAA
header_size = 50%

body
  font-family: "Trebuchet MS",Arial,Helvetica;
  background-color bg_color
  a, a:visited
    color darken(text_color, 30)
  a:hover
    text-decoration none

.bb-wlan-stats
  float left
  margin 2px
  font-size 8pt
  margin 1px
  width 170px
  height 170px
  cursor pointer

  .content
    text-align center
    color white
    font-weight bold
    margin-top 55px
    margin-left 45px
    width 75px
    word-wrap break-word
    .count
      font-size 18pt



.bb-wlan-layout
  color text_color
  width 90%
  margin 0 auto
  .header
    margin-left 44px
    border-top 1px solid white
    border-bottom 1px solid #C5BE8C

  .wlan-hosts-wrap
    margin-top 1em
    left 0px
  h1
    color black
    font-size 18pt
    width header_size

.loading
  position absolute
  top 0px
  left 0px

.bb-total-stats
  width header_size

.opinsys-logo
  position absolute
  right 10%
  top 0em
  z-index -1




.bb-lightbox

  // Structure
  .background, .wrap, .content
    position fixed
  .background
    z-index 99
    top 0px
    right 0px
    left 0px
    bottom 0px
    background-color black
    opacity 0.3
  .wrap
    z-index 100
    background-color white
    color black
    left 5%
    right 5%
    top 5%
    bottom 5%
    margin 0 auto
    .close
      float right


  // Styles
  .wrap
    background-color darken(bg_color, 5)
    border-radius 10px
  .content
    padding 1em
    background-color bg_color
    left 10%
    right 10%
    top 10%
    bottom 10%
    overflow-y auto
  .close
    position relative
    right -25px
    top -25px
    border 5px solid darken(bg_color, 20)
    color black
    font-size 25pt
    width 80px
    height 80px
    border-radius 50px
    cursor pointer
    background-color bg_color
    &:hover
      background-color darken(bg_color, 40)


  table

    color darken(text_color, 40)
    a, a:visited, a:active
      color darken(text_color, 80)
    text-align left
    font-size 8pt
    margin-right 1em
    td
      vertical-align top
      padding 5px

    .manufacturer
      width 100px
      overflow hidden

.bb-wlan-host-details, .bb-wlan-client-details
  .previous-clients, .connected
    float left
    margin-left 5px



.bb-school-select
  float right
  font-size 18pt

.clearfix:after
  content "."
  display block
  height 0
  clear both
  visibility hidden

.clearfix {display: inline-block;}  /* for IE/Mac */
