body {
  font-family: "Trebuchet MS", Arial, Helvetica;
  background-color: #f0eee1;
}
body a,
body a:visited {
  color: #5d5d5d;
}
body a:hover {
  text-decoration: none;
}
.opinsys-logo {
  position: absolute;
  right: 10%;
  top: 0em;
  z-index: -1;
}
