/*
 * Image replacement
 */

ir() 
    background-color transparent
    border 0
    display block

.wlansprite
.wlanwlan00
.wlanwlan01
.wlanwlan02
.wlanwlan03
.wlanwlan04
.wlanwlan05
.wlanwlan06
.wlanwlan07
.wlanwlan08
.wlanwlan09
.wlanwlan10
.wlanwlan11
.wlanwlan12 
    background transparent url('/img/wlan-sprite.png') no-repeat
    ir() 

.wlanwlan00
    width 170px
    height 170px
    background-position 0px 0px

.wlanwlan01
    width 170px
    height 170px
    background-position -170px 0px

.wlanwlan02
    width 170px
    height 170px
    background-position -340px 0px

.wlanwlan03
    width 170px
    height 170px
    background-position -510px 0px

.wlanwlan04
    width 170px
    height 170px
    background-position -680px 0px

.wlanwlan05
    width 170px
    height 170px
    background-position -850px 0px

.wlanwlan06
    width 170px
    height 170px
    background-position -1020px 0px

.wlanwlan07
    width 170px
    height 170px
    background-position -1190px 0px

.wlanwlan08
    width 170px
    height 170px
    background-position -1360px 0px

.wlanwlan09
    width 170px
    height 170px
    background-position -1530px 0px

.wlanwlan10
    width 170px
    height 170px
    background-position -1700px 0px

.wlanwlan11
    width 170px
    height 170px
    background-position -1870px 0px

.wlanwlan12
    width 170px
    height 170px
    background-position -2040px 0px
