[Desktop Entry]
Type=Application
Name=Primuskurre
Comment=Primuskurre
Icon=/opt/primus/starsoft.png
Exec=/usr/local/bin/primusclient
Categories=Office;
StartupNotify=true
