[Desktop Entry]
Version=1.0
Name=Puavo Local Config
Comment=Configure a personally administered host
Exec=puavo-local-config-ui --auto
Terminal=false
Type=Application
Icon=preferences-desktop
Categories=System;Settings;
