Tests: cups-core-drivers
Restrictions: needs-root
Depends:
 cups-client,
 cups-core-drivers,

Tests: cups
Restrictions: needs-root
Depends:
 cups,
 cups-client,

Tests: cups-basiccommands
Restrictions: needs-root
Depends:
 cups,
 cups-bsd,
 cups-client,
