[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Puavo desktop applet
Exec=puavo-desktop-applet
Terminal=false
Type=Application
Categories=
GenericName=
