# System information collector DBus service
# Used in the login screen

[Unit]
Description=Collect system info for the login screen
After=network-online.target
Before=gdm.service

[Service]
Type=dbus
BusName=org.puavo.client.systeminfocollectordaemon
ExecStart=/usr/sbin/puavo-sysinfo-collector

[Install]
WantedBy=multi-user.target
