[Desktop Entry]
Name=Ekapeli
Exec=ekapeli
Type=Application
Terminal=false
Icon=/usr/share/icons/Faenza/categories/96/applications-fonts.png
StartupNotify=true
Categories=Education;Games;
