[Desktop Entry]
Encoding=UTF-8
Name=Puavo User Registration
Name[fi]=Uuden käyttäjän rekisteröinti
GenericName=Puavo User Registration
Comment=User registration for Puavo
Exec=puavo-user-registration
Icon=user-info
Terminal=false
Type=Application
Categories=Utils;
StartupNotify=true
