[Desktop Entry]
Version=1.0
Type=Application
Name=MimioStudio
Exec=/usr/local/bin/start_mimiosys
Icon=mimio-default.png
Comment=Interactive whiteboard
