#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@

# dh_usrlocal fails to remove some vendored gem directories and because we
# probably have no actual need for it. So skip.
override_dh_usrlocal:

# We vendor in every ruby dependency required by this package. Unfortunately
# Ubuntu Precise Pangolin does not have recent enough version of Bundler to do
# this (It's missing --standalone). So we have rubygems as build dependency
# and use it install more recent version of Bundler before actually building
# the package with bundler.

# Setup environment variables so that puavo-ds Makefile can use the 'bundle'
# command like it would have been installed by the system.
export GEM_HOME := $(CURDIR)/debian/tmp
export PATH := $(GEM_HOME)/bin:$(PATH)

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

PACKAGE = $(shell dpkg-parsechangelog | sed -ne 's/^Source: //p')
SRC_VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
TARBALL = $(PACKAGE)_$(SRC_VERSION).orig.tar.gz
.PHONY: get-orig-source
get-orig-source:
	wget https://github.com/opinsys/$(PACKAGE)/archive/$(SRC_VERSION).tar.gz -O../$(TARBALL)
	tar -z -x -f ../$(TARBALL) --strip-components=1 -C .
get-orig-source-master:
	wget https://github.com/opinsys/$(PACKAGE)/archive/master.tar.gz -O../$(TARBALL)
	tar -z -x -f ../$(TARBALL) --strip-components=1 -C .
