[Desktop Entry]
Version=1.0
Name=Webmenu
Comment=A desktop menu application
Exec=puavo-webmenu --daemonize --log
Terminal=false
Type=Application
Icon=/usr/share/icons/webmenu/opinsys-puu-menu.png
Categories=Utility;
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Initialization
