[Desktop Entry]
Version=1.0
Name=Webmenu
Comment=A desktop menu application
Exec=webmenu-spawn
Terminal=false
Type=Application
Icon=/usr/share/icons/webmenu/opinsys-puu-menu.png
Categories=Utility;
