[Desktop Entry]
Version=1.0
Name=Webmenu Logout
Comment=A desktop menu application
Exec=webmenu-spawn --logout
Terminal=false
Type=Application
Icon=/usr/share/icons/Faenza/apps/24/gnome-session-halt.png
Categories=Utility;
