[Desktop Entry]
Version=1.0
Name=Webmenu
Comment=A desktop menu application
Exec=webmenu
Terminal=false
Type=Application
Icon=webmenu
Categories=Utility;
NoDisplay=true
X-GNOME-Autostart-enabled=true
