[Desktop Entry]
Version=1.0
Name=Webmenu
Comment=Käynnistä sovelluksia ja muuta asetuksiasi
Exec=webmenu-spawn
Terminal=false
Type=Application
Icon=/usr/share/icons/webmenu/opinsys-nelio-menu.png
Categories=Utility;
