
<header>
  <h1>
    Viestit
  </h1>
</header>

<div class="message">
  <p>
    {{item.message}}
  </p>
</div>

<nav>
  <button class="icon-left prev" ></button>
  <span>{{index}} / {{size}}</span>
  <button class="icon-right next"></button>
</nav>
