<h2>{{ i18n "feedback.how-question" }}</h2>

<div class="mood">
{{#each moods}}
    <img class="{{ cssClass }}" src="{{ imagePath }}" />
{{/each}}
</div>

<div class="question-container textbox">
</div>
