<textarea placeholder="{{moodResponse}}">{{message}}</textarea>
<button class="save btn">{{ i18n "feedback.send" }}</button>
<label class="anonymous" >
    <input type="checkbox"> {{ i18n "feedback.anonymous" }}
</label>
