<div class="mood">
    <img class="face1" src="styles/theme/default/img/face1.png" />
    <img class="face2" src="styles/theme/default/img/face2.png" />
    <img class="face3" src="styles/theme/default/img/face3.png" />
    <img class="face4" src="styles/theme/default/img/face4.png" />
</div>
