
<h2>Feedback</h2>

<p class="message">
How did we serve you today?
</p>

<div class="mood">
    <button class="good">:)</button>
    <button class="bad">:(</button>
</div>

<div class="textbox" style="display: none";>
    <textarea></textarea>
    <button class="save">Send</button>
</div>
