<div class="feedback-container"></div>

<div class="logout-container">

  <h1 class="shut-down-header">
    <img src="file:///usr/share/icons/Faenza/actions/48/system-shutdown.png">
    {{ i18n "logout.exit" }}
  </h1>

  <div class="logout-btn-container">

    {{#each actions}}
      <div>
        <button class="{{class}} item btn">
          <img src="file://{{ icon }}">
          {{ i18n text }}
        </button>
       </div>
    {{/each}}
  </div>
</div>

