<h1 class="shut-down-header">
  <img src="file:///usr/share/icons/Faenza/actions/48/system-shutdown.png">
  {{ i18n "logout.exit" }}
</h1>

<div class="logout-btn-container">


  <div class="btn action">
    <button class="js-logout item">
      <img src="file:///usr/share/icons/Faenza/actions/24/system-log-out.png">
      {{ i18n "logout.logout" }}
    </button>
  </div>

  <div class="btn action">
    <button class="js-shutdown item">
      <img src="file:///usr/share/icons/Faenza/actions/24/system-shutdown.png">
      {{ i18n "logout.shutdown" }}
    </button>
  </div>

  <div class="btn action">
    <div class="item js-other">
      <select>
        <option value=or>Or...</option>
        <option value="sleep">Sleep</option>
        <option value="hibernate">Hibernate</option>
        <option value="lock">Lock</option>
      </select>
    </div>
  </div>


</div>
