<div class="search-container"></div>

<div class="tabs-container"></div>
<div class="folder-title-container"></div>

<div class="main-area">
  <div class="menu-list-container"></div>
</div>

<div class="footer">
  <div class="favorites-container"></div>
</div>

<div class="border"></div>

<div class="sidebar">
  <div class="sidebar-container"></div>
</div>
