
<div class="profile-container">
</div>

<div class="settings-wrapper">
  <div class="settings-container">
  </div>
</div>

<div class="sidebar-footer">
  <div class="footer-container"></div>
  <div class="logos-container">
    <img alt="Vendor logo" title="Vendor logo" width="100" src="styles/theme/default/img/vendor_logo.png">
    <img alt="Release logo" title="Release logo" width="100" src="styles/theme/default/img/release_logo.png">
  </div>
</div>
