
<div class="profile-container">
</div>

<div class="settings-wrapper">
  <div class="settings-container">
  </div>
</div>

<div class="sidebar-footer">
  <div class="footer-container"></div>
  <img class="logo" alt="Opinsys" title="Opinsys" width="100" src="styles/theme/default/img/logo.png">
</div>
