Source: puavo-ltsp
Section: unknown
Priority: extra
Maintainer: Veli-Matti Lintu <veli-matti.lintu@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-ltsp

Package: puavo-ltsp-bootserver
Architecture: all
Depends: libsasl2-modules-gssapi-mit, isc-dhcp-server, bind9, dnsmasq,
 ruby1.9.3, nbd-server, nfs-kernel-server
Conflicts: nscd
Description: Puavo LTSP bootserver runs infrastructure services for thin/fat
 clients and LTSP servers. No user sessions are run on the server itself.

Package: puavo-ltsp-client
Architecture: all
Conflicts: nscd
Depends: lightdm-gtk-greeter, libsasl2-modules-gssapi-mit, 
 libsasl2-modules-ldap, krb5-user, libpam-krb5, ruby1.9.3, ruby-ldap,
 ruby-dnsruby, sssd
Description: Bits and pieces needed inside the LTSP chroot image.
