options {
    port   5000;
    syslog daemon;
}
 
puavo-wlanap {
    passwd    wlan;
    type      ether;
    proto     udp;
    speed     0;     # Full speed ahead! Aye aye, captain!
    encrypt   no;
    compress  no;
    multi     yes;
 
    up {
        program "puavo-wlanap-vtun-up %% br.#{hostap_interface}";
    };
 
    down {
        program "puavo-wlanap-vtun-down %% br.#{hostap_interface}";
    };
}
