interface=#{wlanif}
bridge=br.#{wlanif}
driver=nl80211
ssid=#{ssid}
country_code=FI
hw_mode=g
channel=6
max_num_sta=1000
wmm_enabled=1
ctrl_interface=/var/run/hostapd
ieee80211n=1
ht_capab=[HT40-]
wds_sta=1

# psk-specific configuration below
wpa=2
auth_algs=3
wpa_passphrase=#{hostap_psk}
rsn_pairwise=CCMP
wpa_key_mgmt=WPA-PSK
eapol_version=1
eapol_key_index_workaround=1
eap_reauth_period=0
wpa_strict_rekey=0
wpa_group_rekey=0
wpa_gmk_rekey=0
