[Unit]
ConditionSecurity=tpm2
Description=Puavo Boot Trust Manager
DefaultDependencies=no
Wants=cryptsetup-pre.target
After=systemd-udev-trigger.service systemd-udevd.service keyboard-setup.service plymouth-start.service
Before=cryptsetup-pre.target initrd-switch-root.target
IgnoreOnIsolate=yes
RefuseManualStop=yes

[Service]
Type=oneshot
StandardInput=tty-force
StandardOutput=inherit
StandardError=journal
TTYPath=/dev/console
ExecStart=/usr/sbin/start-boot-trust-manager

[Install]
WantedBy=initrd.target
