Source: nwjs
Section: utils
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.6
Homepage: https://github.com/rogerwang/node-webkit

Package: nwjs
Architecture: amd64
Depends: ${misc:Depends}, openssl, zlib1g, libnss3
Description: Call all Node.js modules directly from DOM
 NW.js (previously known as node-webkit) lets you call all Node.js modules
 directly from DOM and enables a new way of writing applications with
 all Web technologies.
 .
