Source: autopoweroff
Section: misc
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8), python
Standards-Version: 3.9.6
Homepage: https://github.com/deragon/autopoweroff

Package: autopoweroff
Architecture: all
Depends: python
Description: Automatically power off a computer if not used
 GUI configurator available from menus System/Administration/Autopoweroff
 .
 Autopoweroff is a Python script that is started at boot time, and which
 function is to shutdown the computer at a specific time, but only if
 some conditions are met.
 .
 The computer will shutdown if all the above conditions are met:
 .
   1. Any hosts that the computer is dependent on is not answering ping
      anymore.
 .
   2. There is no more keyboard and mouse activity on the computer.
 .
   3. The user has not disabled Autopoweroff.
 .
 One good use of Autopoweroff is for home use, on a firewall/router
 server. You can setup Autopoweroff to shutdown the server every evening
 at say, 22:00. However, your server might serve other computers in your
 home. Autopoweroff will shutdown the server after 22:00 only when no
 other computer on the network is responding to ping.  For example, if at
 22:43 you are still working on your thin client in the living room, the
 server in your baseman will remain up. As soon as you shutdown the
 workstation, the server will wait for some time (configurable) and
 then go down.
 .
 By setting the BIOS properly, the server can come up by itself every
 morning.  Autopoweroff has nothing to do with this process.  But with
 this setting, your home server does not need to run 24/7; you can save
 electricity and noise without the hassle of having to shut down and
 start the server manually.
 .
 Contact:
 .
   Project website:   https://github.com/deragon/autopoweroff
   Business website:  http://www.deragon.biz
   Email:             hans@deragon.biz
 .
