<% content_for :javascript do %>
  <%= include_tiny_mce_if_needed :content_css => stylesheet_path("slides/editor_content") %>
<% end %>

<h1><%= t('.title') %></h1>

<%= render :partial => @partial, :locals => { :url => channel_slides_path(@school.puavo_id, @channel)} %>

