Source: puavoadmins
Section: utils
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0),
 libjansson-dev,
 bundler
Standards-Version: 3.9.3
Homepage: http://github.com/opinsys/puavoadmins/

Package: puavoadmins
Architecture: any
Depends: ${misc:Depends},
 libjansson4,
 ruby-puavobs (>= 0.15.0),
 ruby
Description: Puavo admin intergration
  This project provides following components for intergrating Puavo
  organization admininstrators to the host:
    - NSS module which provides group and passwd databases.
      - Supports getpwnam(), getpwuid(), getpwent(), getgrnam(),
        getgrgid(), getgrent() and their reentrant counterparts.
  - Command for feeding public SSH keys of Puavo administrators to sshd
    via AuthorizedKeysCommand (requires OpenSSH 6.1 or newer).
 .
