/*.debhelper
/*.debhelper.log
/*.substvars
/.debhelper/
/build/
/convert-emoji
/debhelper-build-stamp
/files
/gir1.2-gtk-4.0/
/gtk-4-examples/
/install/
/libgtk-4-1-udeb/
/libgtk-4-1.install
/libgtk-4-1.links
/libgtk-4-1.postinst
/libgtk-4-1.postrm
/libgtk-4-1.symbols
/libgtk-4-1.triggers
/libgtk-4-1/
/libgtk-4-bin.links
/libgtk-4-bin/
/libgtk-4-common.install
/libgtk-4-common/
/libgtk-4-dev.links
/libgtk-4-dev/
/libgtk-4-doc.doc-base.g?k
/libgtk-4-doc.install
/libgtk-4-doc.links
/libgtk-4-doc/
/tmp/
