Source: openboard
Section: education
Priority: extra
Maintainer: Puavo Org <dev@opinsys.fi>
Build-Depends: debhelper (>= 8),
 libpaper-dev,
 libpng-dev,
 libqt5svg5-dev,
 libqt5webkit5-dev,
 libqt5xmlpatterns5-dev,
 libssl1.0-dev,
 qt5-default,
 qtbase5-dev,
 qtbase5-dev-tools,
 qtchooser,
 qtmultimedia5-dev,
 qtscript5-dev,
 qttools5-dev,
 qttools5-dev-tools,
 qttranslations5-l10n,
 zip
Standards-Version: 3.9.6
Homepage: https://github.com/puavo-org/OpenBoard/

Package: openboard
Architecture: all
Depends: libc6,
 libgcc1,
 libgomp1,
 libqt5core5a,
 libqt5gui5,
 libqt5multimedia5,
 libqt5multimedia5-plugins
 libqt5multimediawidgets5,
 libqt5network5,
 libqt5printsupport5,
 libqt5script5,
 libqt5svg5,
 libqt5webkit5,
 libqt5widgets5,
 libqt5xml5,
 libssl1.0.0,
 libstdc++6,
 libx11-6,
 onboard,
 zlib1g
Description: Openboard
 Interactive whiteboard for schools and universities
 .
