Source: puavo-ds
Section: admin
Priority: extra
Maintainer: Juha Erkkilä <Juha.Erkkila@opinsys.fi>
Build-Depends: debhelper (>= 8), ruby, ruby-dev
Standards-Version: 3.9.3
Homepage: https://github.com/puavo-org/puavo-os/

Package: puavo-ds-ext
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends},
 krb5-kdc-ldap,
 ldap-utils,
 libsasl2-modules-gssapi-mit,
 ruby,
 ruby-ldap,
 slapd
Recommends: rng-tools
Description: Puavo LDAP setup tool
 Builds LDAP for Puavo

Package: puavo-ds-master
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends},
 krb5-admin-server,
 krb5-kdc-ldap,
 ldap-utils,
 libsasl2-modules-gssapi-mit,
 puavo-client,
 ruby,
 ruby-activeldap,
 slapd,
 slapd-smbkrb5pwd
Recommends: rng-tools
Description: Puavo LDAP setup tool
 Builds LDAP for Puavo

Package: puavo-ds-slave
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends},
 krb5-admin-server,
 krb5-kdc-ldap,
 ldap-utils,
 ruby,
 slapd
Description: LDAP slave replication tool
 puavo-ds-slave handles LDAP slave replication from master
 server.
 .
 Note that this package contains scripts which do touch the contents of
 your /etc directories with a heavy hand.  Those are *not* run automatically,
 but you should check them out before running them blindly (as root). 
