<p>
  <b><%= t('.name') %>:</b>
  <%= @channel.name %>
</p>
<div><%= link_to t('links.back_to_channels'), channels_path %></div>


<% content_for :tools do %>
<div><%= link_to t('links.edit'), edit_channel_path(@channel) %></div>
<% end %>
