[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Puavo veyon applet starter
Exec=start-puavo-veyon-applet
Terminal=false
Type=Application
Categories=
GenericName=
