[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Puavo exammode session applet
Exec=start-puavo-exammode-session-applet
Terminal=false
Type=Application
Categories=
GenericName=
