Source: puavo-rules
Section: admin
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-rules

Package: puavo-rules
Architecture: all
Depends: ${misc:Depends}
Description: Puppet-rules for configuring stuff
