Source: puavo-ltsp
Section: admin
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-ltsp

Package: puavo-ltsp-bootserver
Architecture: all
Depends: ${misc:Depends}, libsasl2-modules-gssapi-mit, isc-dhcp-server, bind9,
 dnsmasq, ruby1.9.3, nbd-server, nfs-kernel-server, ruby-uuidtools,
 puavo-tftpd, puavo-tftpd-hooks, bridge-utils, puavo-ds-slave, puavo-register,
 cups, foomatic-db, foomatic-db-engine, foomatic-filters, hplip,
 openprinting-ppds, pnm2ppa, printer-driver-gutenprint, pxljr, splix,
 shorewall, linux-image-server, nfs-kernel-server, qemu-kvm,
 libvirt-bin, ruby-ipaddress, syslinux, ruby-highline, ruby-dnsruby,
 openbsd-inetd, samba, cifs-utils, ipsec-tools, racoon, puavo-sharedir-manager,
 puavo-logrelay, nginx, puavo-rest-bootserver, jq, curl, ntp, puavo-client
Recommends: tshark, git, emacs23-nox, sysstat, tmux, vim, openvpn, puavo-wlangw,
 etherwake, nmap, fping, w3m, hping3, screen, elinks, puavo-devscripts, ethtool,
 iperf, iftop, lynx
Conflicts: ltsp-server, tftpd-hpa
Description: Puavo LTSP bootserver runs infrastructure services for thin/fat
 clients and LTSP servers. No user sessions are run on the server itself.

Package: puavo-ltsp-client
Architecture: all
Conflicts: ltsp-lightdm
Depends: ${misc:Depends}, lightdm, lightdm-gtk-greeter,
 libsasl2-modules-gssapi-mit, libsasl2-modules-ldap, krb5-user, libpam-krb5,
 ruby1.9.3, ruby-ldap, ruby-dnsruby, sssd, dnsutils, libnss-extrausers,
 ltspfs, ltspfsd, rdate, puavo-vpn-client, libpam-envfeed, ruby-uuidtools,
 ruby-trollop, ruby-rest-client, ntp, imagemagick, cowsay, puavo-client,
 ratpoison, xautolock, nfs-common, gnome-session-flashback, jq, perl,
 libpam-runtime, puavo-hw-tools, ruby-json
Suggests: webkiosk-language-selector
Description: Bits and pieces needed inside the LTSP chroot image.

Package: puavo-ltsp-install
Architecture: all
Depends: ${misc:Depends}, ruby-highline, nbd-client, pv, rdiff, curl,
 puavo-client, ruby-dbus, python-gtk2, python-appindicator, python-dbus
Description: Bits and pieces needed inside the LTSP chroot image.
