Source: puavo-ltsp
Section: admin
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends:
 debhelper (>= 8.0.0),
 libgnome-desktop-3-dev,
 pkg-config,
 ruby-bundler,
 ruby1.9.1,
 ruby1.9.1-dev
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-ltsp

Package: puavo-ltsp-bootserver
Architecture: all
Depends: ${misc:Depends},
 bind9,
 bridge-utils,
 cifs-utils,
 cups,
 curl,
 dnsmasq,
 elinks,
 emacs23-nox,
 etherwake,
 ethtool,
 foomatic-db,
 foomatic-db-engine,
 foomatic-filters,
 fping,
 git,
 hping3,
 hplip,
 iftop,
 iperf,
 iproute,
 ipsec-tools,
 isc-dhcp-server,
 jq,
 libsasl2-modules-gssapi-mit,
 libvirt-bin,
 linux-image-server,
 logrotate,
 lynx,
 nbd-server,
 nfs-kernel-server,
 nfs-kernel-server,
 nginx,
 nmap,
 ntp,
 openbsd-inetd,
 openprinting-ppds,
 openssh-server,
 openvpn,
 pnm2ppa,
 printer-driver-gutenprint,
 puavo-client,
 puavo-devscripts,
 puavo-ds-slave,
 puavo-logrelay,
 puavo-register,
 puavo-rest-bootserver,
 puavo-sharedir-manager,
 puavo-tftpd,
 puavo-tftpd-hooks,
 puavo-wlangw,
 pxljr,
 qemu-kvm,
 racoon,
 rsyslog-relp,
 ruby-dnsruby,
 ruby-highline,
 ruby-ipaddress,
 ruby-puavobs,
 ruby-uuidtools,
 ruby1.9.3,
 samba,
 screen,
 shorewall,
 splix,
 syslinux,
 sysstat,
 tmux,
 tshark,
 vim,
 w3m
Recommends:
 ifenslave
Conflicts:
 ltsp-server,
 tftpd-hpa
Description: Puavo LTSP bootserver runs infrastructure services for thin/fat
 clients and LTSP servers. No user sessions are run on the server itself.

Package: ruby-puavobs
Architecture: any
XS-Ruby-Versions: ruby1.9.1
Depends: ${shlibs:Depends}, ${misc:Depends},
 ruby-bundler,
 ruby-highline,
 ruby1.9.1,
 puavo-client
Description: Puavo Bootserver library for Ruby
 This library provides helper functions for common operations done in
 Puavo Bootservers.

Package: puavo-ltsp-client
Architecture: all
Conflicts: ltsp-lightdm
Depends: ${misc:Depends},
 autofs,
 cowsay,
 daemon,
 dnsutils,
 gnome-session-flashback,
 imagemagick,
 jq,
 krb5-user,
 libnss-extrausers,
 libnss-ldapd,
 libpam-envfeed,
 libpam-krb5,
 libpam-runtime,
 libsasl2-modules-gssapi-mit,
 libsasl2-modules-ldap,
 lightdm,
 lightdm-gtk-greeter,
 ltsp-client-core,
 ltspfs,
 ltspfsd,
 nfs-common,
 nslcd,
 ntp,
 perl,
 puavo-client,
 puavo-hw-tools,
 puavo-vpn-client,
 python,
 python-appindicator,
 python-gtk2,
 ratpoison,
 rdate,
 rsyslog-relp,
 ruby-dnsruby,
 ruby-json,
 ruby-ldap,
 ruby-rest-client,
 ruby-trollop,
 ruby-uuidtools,
 ruby1.9.3,
 sssd,
 xautolock
Suggests: webkiosk-language-selector
Description: Bits and pieces needed inside the LTSP chroot image.

Package: puavo-ltsp-install
Architecture: all
Depends: ${misc:Depends},
 curl,
 expect-dev,
 jq,
 m4,
 nbd-client,
 nwipe,
 puavo-client,
 puavo-pkg,
 pv,
 python,
 python-appindicator,
 python-dbus,
 python-gtk2,
 python-notify,
 rdiff,
 ruby-dbus,
 ruby-highline,
 wget
Description: Bits and pieces needed inside the LTSP chroot image.

Package: puavo-image-tools
Architecture: all
Depends: ${misc:Depends},
 debootstrap,
 git,
 make,
 rdiff,
 ruby-json,
 ruby1.9.3,
 squashfs-tools
Description: Tools for building images.
