Source: puavo-hw-tools
Maintainer: Opinsys <dev@opinsys.fi>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3

Package: puavo-hw-tools
Architecture: all
Depends: ${misc:Depends}, jq, ruby1.9.1
Description: Puavo enabled tools and tweaks to enable and fix hardware features
