# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random, 
# no regular words or you'll be exposed to dictionary attacks.
Rails.application.config.secret_token = '7ad9aea683cadb13b45c8f88849ed00ee79150baf99c5a40b9aac94eae9889e127e1eedff1c3f7254faff86056dbeedfc9a469ca34f85fe5bf083e6b6964bfc0'
