[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Report to users about possible automatic homedir cleanups
Exec=puavo-report-about-homedir-cleanups
Terminal=false
Type=Application
Categories=
GenericName=
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
