Source: iivari-client
Section: web
Priority: extra
Maintainer: Juha Erkkilä <Juha.Erkkila@opinsys.fi>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://github.com/opinsys/iivari/

Package: iivari-client
Architecture: all
Depends: ${misc:Depends}, metacity, python-pyside, unclutter
Description: Webbrowser for iivari info screens
 iivari-client is a webbrowser designed to fetch and show pages
 from iivari-server.  Iivari is a kind of a digital signage system.
