<div class="full">
  <%= content_tag("iframe",
                  :width => "100%",
                  :height => "1000",
                  :frameborder => "0",
                  :scrolling => "no",
                  :src => @slide.body ) do %>
  <% end %>
</div>
