<script src="/javascripts/jquery.offline.js" type="text/javascript"></script> 
<script src="/javascripts/slideshow.js" type="text/javascript"></script> 
<script type="text/javascript">
    var slideNumber = 0;
    slideData = new Object();
    updateSlideData('<%= @json_url.html_safe %>', <%= @cache %>);
    $(document).ready(function() { showNextSlide(); });
    <% if params[:slide_id].nil? %>
    setInterval( "updateSlideData('<%= @json_url.html_safe %>', <%= @cache %>)", 7000);
    <% end %>
</script> 

<span id="content"></span>
