[Desktop Entry]
Version=1.0
Name=Puavo-install
Comment=Puavo device installation
Exec=x-terminal-emulator -geometry 80x24+100+100 -e 'sudo /usr/share/ltsp/screen.d/register'
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
