/*
================================================================================
                            PUAVOMENU WINDOW STYLES
        Do not hardcode any colors! Use the variables defined in themes!
================================================================================
*/

/* Main window */
#root {
    background: alpha(@theme_bg_color, 0.95);
    border-radius: 5px;
    border: 1px solid @borders;
}

/* Menu container (ie. "left side") */
#menubox {
    background: alpha(@theme_bg_color, 1);
    border-radius: 5px;
    padding: 5px;
}

/* The category selector */
#category {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    font-weight: normal;
}

#category header {
    margin: 0;
    padding: 0;
    background: none;
    border-bottom: 2px solid @theme_selected_bg_color;
    box-shadow: none;
}

#category tabs {
    border: none;
    background: none;
    box-shadow: none;
}

#category tab {
    border: 0;
    border-radius: 5px 5px 0px 0px;
    box-shadow: none;
    margin: 0 5px 0 0;
    padding: 5px 15px;
    color: @theme_text_color;
}

#category tab:hover {
    background: shade(@theme_selected_bg_color, 1.2);
    color: @theme_selected_fg_color;
}

#category tab:checked {
    background: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

#category border {  /* Targets the "frame" element below the notebook widget */
    border: none;
    background: none;
    box-shadow: none;
}

/* The search box */
entry {
}

/* Title of the current menu */
#menu_title {
    color: @theme_text_color;
}

/* The "empty" message, displayed when there's nothing to display */
#empty {
    color: @theme_unfocused_fg_color;
    font-size: 125%;
    font-style: italic;
}

/* The main progams list */
#programs { }

/* Frequently-used programs */
#frequent { }

/* Sidebar container (ie. "right side") */
#sidebar { }

/* The host info label */
#hostinfo {
    font-size:0.9em;
}

/* Base menu button class */
.pm_button {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    color: @theme_text_color;
    text-shadow: none;
}

.pm_button:hover {
    background: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/* Program buttons */
.button_program { }

.button_program:hover {
    border-radius: 5px;
}

/* Menu buttons */
.button_menu {
    background: alpha(@borders, 0.4);
    border-radius: 20;
    font-style: italic;
}

.button_menu:hover {
    border: none;
    background: @theme_selected_bg_color;
}

/* Extra stuff for frequently-used programs */
.frequent_button { }

/* Extra styles for puavo-pkg installer buttons */
.installer {
    color: @theme_unfocused_fg_color;
}

/* Sidebar buttons */
.button_sidebar { }
.button_sidebar:hover { }

/* User avatar button */
.button_avatar {
    font-size: 120%;
    font-weight: bold;
    border-radius: 0 5px 0 0;
}

.button_avatar:hover {}
