<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>aptirepo</title>
        <style type="text/css" media="screen">
            body {
                font-family: monospace;
            }
            fieldset {
                float: left;
                width: 15em;
            }
        </style>
    </head>
    <body>
        <a href="https://github.com/opinsys/aptirepo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <h1>Upload packages</h1>
      <form action="/" method="post" enctype="multipart/form-data" accept-charset="utf-8">
        <fieldset>
            <legend>
            repo branch
            </legend>
            <input type="text" name="branch">
        </fieldset>

        <fieldset>
            <legend>
            .changes
            </legend>
            <input type="file" name="changes" accept=".changes">
        </fieldset>

        <fieldset>
            <legend>
                files in .changes
            </legend>
            <input multiple type="file" name="file">
        </fieldset>

        <div style="clear: both"></div>

        <p>
            <input type="submit">
        </p>
      </form>

      <h1>Or a raw debian package</h1>

      <form action="/upload_deb" method="post" enctype="multipart/form-data" accept-charset="utf-8">
        <fieldset>
            <legend>
            repo branch
            </legend>
            <input type="text" name="branch">
        </fieldset>

        <fieldset>
            <legend>
            .deb
            </legend>
            <input type="file" name="deb" accept=".deb" multiple>
        </fieldset>

        <fieldset>
            <legend>
                codename
            </legend>
            <input type="text" name="codename">
        </fieldset>

        <fieldset>
            <legend>
                section
            </legend>
            <input type="text" name="section">
        </fieldset>

        <div style="clear: both"></div>

        <p>
            <input type="submit">
        </p>
      </form>

      <h1>or curl</h1>
      <pre>
      curl \
        --form "branch=git-master" \
        --form "changes=@puavo-users_0.6.3~master.de673b79857e9be84eaee9e55ad7cb740224d14e_amd64.changes" \
        --form "file=@puavo-web_0.6.3~master.de673b79857e9be84eaee9e55ad7cb740224d14e_amd64.deb" \
        --form "file=@puavo-rest_0.6.3~master.de673b79857e9be84eaee9e55ad7cb740224d14e_amd64.deb" \
        --form "file=@puavo-rest-bootserver_0.6.3~master.de673b79857e9be84eaee9e55ad7cb740224d14e_amd64.deb" \
        --form "file=@puavo-users_1.0.0+dev1382449832.master.0d5f38c17fc0be7dc47340839821a3b82666e4b9.tar.gz" \
        --form "file=@puavo-users_0.6.3~master.de673b79857e9be84eaee9e55ad7cb740224d14e.dsc" \
        http://aptirepo:8080
      </pre>


    </body>
</html>
