Source: puavotools-ldapslave
Section: admin
Priority: extra
Maintainer: Juha Erkkilä <Juha.Erkkila@opinsys.fi>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://launchpad.net/~opinsys

Package: puavotools-ldapslave
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LDAP slave replication tool
 puavotools-ldapslave handles LDAP slave replication from master
 server.
