[Desktop Entry]
Name=SMARTBoardService
Encoding=UTF-8
Version=1.0
X-GNOME-Autostart-enabled=true
Exec=/usr/local/bin/start_smartboard_service
Type=Application
Icon=system-run
Comment=SMART Software
