Source: webmenu
Section: utils
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 8), nodejs-bundle (>= 0.10.22), python
Standards-Version: 3.9.3
Homepage: http://github.com/opinsys/webmenu

Package: webmenu
Architecture: all
Depends: ${misc:Depends}, node-webkit (>= 0.8.5), wmctrl, gnome-themes-standard, socat, netcat-openbsd, libnotify-bin, faenza-icon-theme, zenity, visionmedia-mon, fluentd, ruby, libgettextpo0
Description: Webmenu
 Next generation desktop menu
