Source: webmenu
Section: utils
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 8), nodejs-bundle (>= 0.10.12), python
Standards-Version: 3.9.3
Homepage: http://github.com/opinsys/webmenu

Package: webmenu
Architecture: i386
Depends: ${misc:Depends}, node-webkit (= 0.6.3-0+opinsys1ubuntu1), wmctrl, gnome-themes-extras, socat, netcat-openbsd, libnotify-bin, faenza-icon-theme
Description: Webmenu
 Next generation desktop menu
