[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Puavo integration for The PipeWire media server
Exec=puavo-pipewire-setup
Terminal=false
Type=Application
Categories=
GenericName=
NoDisplay=true
