<div class="menu-left">

  <div class="breadcrums-container">
    breadcrums
  </div>

  <div class="menu-content">
    <h1>{{categoryName}}</h1>

    <div class="menu-app-list-container">
    </div>

  </div>

  <div class="clearfix"></div>
  <div class="bb-recently-used">
    <h1>Most Used</h1>
    <div class="menu-item">
      Internet
    </div>
  </div>

</div>

<div class="menu-right">
</div>
