<div class="row-fluid">
  <div class="main-area span8">
  <div class="span12 navigation">
    <ul class="span9 nav nav-pills">
      <li class="span5 justify active"><a href="#">Kategoriat</a></li>
      <li class="span5 justify"><a href="#">Oppiaineet</a></li>
    </ul>
  </div> <!-- navigation -->
  <div class="span12 main margin20">

      <div class="breadcrums-container span8">
        breadcrums
      </div>

      <div class="menu-content span8">
        <h1>{{categoryName}}</h1>

        <div class="menu-app-list-container">
        </div>

      </div>   
  </div> <!-- main -->
  <div class="bb-recently-used span12 favorites margin0">
    <h1>Most Used</h1>
    <div class="menu-item">
      todo
    </div>
  </div>  <!-- favorites -->
</div> <!-- main-area span10 -->
  <!-- Sidebar begins -->
  <!-- TODO: whole sidebar dynamically -->
  <div class="span4 sidebar">
    <!-- Search form -->
    <div class="span12 normal-margin">
      <form class="form-inline clearfix">
        <input type="text" class="input-small search span10" placeholder="Hae">
      </form> 
    </div>
    <!-- User details -->
    <div class="span12">
      <ul class="thumbnails justify">
        <li class="span10 smooth-margin">
          <div class="thumbnail">
            <img class="avatar img-polaroid" src="theme/img/avatar.jpg">
            <p>Mikko Möttönen</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- Settings yms. -->
    <div class="span12">
      <ul class="thumbnails justify">
        <li class="span5 smooth-margin" data-exec="gnome-control-center">
          <div class="thumbnail">
            <i class="icon-cog"></i>
            <p>Asetukset</p>
          </div>
        </li>
        <li class="span5 smooth-margin">
          <div class="thumbnail">
            <i class="icon-vcard"></i>
            <p>Vaihda salasana</p>
          </div>
        </li>
      </ul>
    </div>
  </div> <!-- sidebar -->
</div> <!-- row-fluid -->