<div class="main-area span8">
  <div class="span12 navigation">
    <ul class="nav nav-pills">
      <li class="span5 justify active"><a href="#">Kategoriat</a></li>
      <li class="span5 justify"><a href="#">Oppiaineet</a></li>
    </ul>
  </div> <!-- navigation -->
  <div class="span12 main margin20">

      <div class="breadcrums-container span8">
        breadcrums
      </div>

      <div class="menu-content span8">
        <h1>{{categoryName}}</h1>

        <div class="menu-app-list-container">
        </div>

      </div>   
  </div> <!-- main -->
  <div class="bb-recently-used span12 favorites margin0">
    <h1>Most Used</h1>
    <div class="menu-item">
      todo
    </div>
  </div>  <!-- favorites -->
</div> <!-- main-area span10 -->
<!-- Sidebar begins -->
<div class="span4 sidebar">  
</div> <!-- sidebar -->
<div class="pull-right logout">
  <a href="#"><i class="icon-logout"></i></a>
</div>  
