<div class="main-area span8">
  <div class="span12 main margin20">

      <div class="breadcrums-container">
      </div>

      <div class="menu-content span12 margin0">

        <div class="menu-app-list-container">
        </div>

      </div>   
  </div> <!-- main -->
  <div class="span12 favorites margin0">
  </div>  <!-- favorites -->
</div> <!-- main-area span8 -->
<!-- Sidebar begins -->
<div class="span4 sidebar">  
</div> <!-- sidebar -->
<div class="pull-right margin0 logo">
  <img alt="Opinsys" title="Opinsys" src="theme/img/opinsys_logo-rgb-feather.png">
</div>
