<!-- User details -->
<div class="span12 normal-margin">
  <ul class="thumbnails justify">
    <li class="span12 smooth-margin">
      <div class="thumbnail user-img-name ignore-thumbnail-hover">
        <img class="avatar img-polaroid" src="theme/img/anonymous.png">
        <p>Mikko Möttönen</p>
      </div>
    </li>
  </ul>
</div>
<!-- Settings yms. -->
<div class="span12">
  <ul class="thumbnails justify">
    <li class="span5 smooth-margin bb-settings">
      <div class="thumbnail">
        <i class="icon-cog"></i>
        <p>Laiteasetukset</p>
      </div>
    </li>
    <li class="span5 smooth-margin">
      <div class="thumbnail">
        <i class="icon-cw"></i>
        <p>Vaihda salasana</p>
      </div>
    </li>
    <li class="span5 smooth-margin bb-profile">
      <div class="thumbnail">
        <i class="icon-vcard"></i>
        <p>Omat tiedot</p>
      </div>
    </li>
    <li class="span5 smooth-margin">
      <div class="thumbnail ignore-thumbnail-hover bb-logout logout">
        <i class="icon-logout"></i>
        <p>Kirjaudu ulos</p>
     </div>
    </li> 
  </ul> 
</div>








