
<!-- Search form -->
<div class="span12 normal-margin">
  <form class="form-inline clearfix">
    <input type="text" class="input-small search span10" placeholder="Hae">
  </form> 
</div>
<!-- User details -->
<div class="span12">
  <ul class="thumbnails justify">
    <li class="span10 smooth-margin">
      <div class="thumbnail">
        <img class="avatar img-polaroid" src="theme/img/avatar.jpg">
        <p>Mikko Möttönen</p>
      </div>
    </li>
  </ul>
</div>
<!-- Settings yms. -->
<div class="span12">
  <ul class="thumbnails justify">
    <li class="span5 smooth-margin" data-exec="gnome-control-center">
      <div class="thumbnail">
        <i class="icon-cog"></i>
        <p>Asetukset</p>
      </div>
    </li>
    <li class="span5 smooth-margin">
      <div class="thumbnail">
        <i class="icon-vcard"></i>
        <p>Vaihda salasana</p>
      </div>
    </li>
  </ul>
</div>








