[Desktop Entry]
Encoding=UTF-8
Name=TI-Nspire CX II CAS
Name[fi]=TI-Nspire CX II CAS
GenericName=TI-Nspire CX II CAS online calculator
Comment=TI-Nspire CX II CAS online calculator
Exec=puavo-ti-nspire-webapp
Icon=accessories-calculator
Terminal=false
Type=Application
Categories=Education;Science;Math;
StartupWMClass=puavo-ti-nspire-webapp
StartupNotify=true
