Source: logrelay
Section: misc
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://github.com/opinsys/logrelay

Package: logrelay
Architecture: all
Depends: ${misc:Depends}, ruby, libeventmachine-ruby (>= 0.12.10-1), libjson-ruby, adduser
Description: Buffering log relay
 Buffering log relay from UDP to HTTP
