ACTION=="add", SUBSYSTEM=="printer", KERNEL=="lp*", TAG+="systemd" PROGRAM="/usr/bin/systemd-escape -p --template=puavo-jetpipe-lp@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
ACTION=="add", SUBSYSTEM=="usbmisc", KERNEL=="lp*", TAG+="systemd" PROGRAM="/usr/bin/systemd-escape -p --template=puavo-jetpipe-usb@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
