*.substvars
*.debhelper
*.debhelper.log
files
dch-suffix/
puavo-admins/
puavo-autopilot/
puavo-blackboard/
puavo-client/
puavo-conf/
puavo-core/
puavo-devscripts-lxc/
puavo-devscripts/
puavo-hw-log/
puavo-hw-tools/
puavo-image-tools/
puavo-local-config/
puavo-ltsp-bootserver/
puavo-ltsp-client/
puavo-ltsp-install/
puavo-monitor/
puavo-pkg/
puavo-rules/
puavo-sharedir-client/
puavo-sharedir-manager/
puavo-vpn-client/
puavo-wlanap/
puavo-wlancontroller/
puavo-wlangw/
puavo-wlanmapper/
puavoadmins/
ruby-puavobs/
ruby-puavowlan/
