*.substvars
*.debhelper
*.debhelper.log
files
puavo-autopilot/
puavo-blackboard/
puavo-client/
puavo-conf/
puavo-core/
puavo-devscripts/
puavo-displays/
puavo-hw-log/
puavo-image-tools/
puavo-ltsp-bootserver/
puavo-ltsp-client/
puavo-ltsp-install/
puavo-pkg/
puavo-rules/
puavo-sharedir-client/
puavo-sharedir-manager/
puavo-vpn-client/
puavo-webkiosk/
puavomenu/
ruby-puavobs/
