#!/usr/bin/make -f

%:
	dh $@ --with systemd

export GEM_HOME := $(CURDIR)/debian/tmp
export PATH := $(GEM_HOME)/bin:$(PATH)

override_dh_auto_install:
	$(MAKE) -C autopilot				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-autopilot

	$(MAKE) -C autopoweroff				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-autopoweroff

	$(MAKE) -C blackboard				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-blackboard

	$(MAKE) -C client					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-client

	$(MAKE) -C conf					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-conf

	$(MAKE) -C core					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-core

	$(MAKE) -C desktop-applet				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-desktop-applet

	$(MAKE) -C devscripts				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-devscripts

	$(MAKE) -C ers				        \
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-ers

	$(MAKE) -C exammode-applets				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-exammode-applets

	$(MAKE) -C laptop-setup					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-laptop-setup

	$(MAKE) -C ltsp/bootserver			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-ltsp-bootserver

	$(MAKE) -C ltsp/client				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-ltsp-client

	$(MAKE) -C ltsp/puavo-install			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-ltsp-install

	$(MAKE) -C ltsp/ruby-puavobs			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/ruby-puavobs

	$(MAKE) -C pam					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-pam

	$(MAKE) -C pkg					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-pkg

	$(MAKE) -C puavomenu				\
		install prefix=/usr sysconfdir=/etc	\
		DESTDIR=$(CURDIR)/debian/puavomenu

	$(MAKE) -C sharedir/client			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-sharedir-client

	$(MAKE) -C sharedir/manager			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-sharedir-manager

	$(MAKE) -C usb-factory				        \
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-usb-factory

	$(MAKE) -C user-registration				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-user-registration

	$(MAKE) -C veyon-applet				        \
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-veyon-applet

	$(MAKE) -C vpn/client				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-vpn-client

	$(MAKE) -C webkiosk		                \
		install prefix=/usr sysconfdir=/etc	\
		DESTDIR=$(CURDIR)/debian/puavo-webkiosk

	$(MAKE) -C webwindow				\
		install prefix=/usr sysconfdir=/etc	\
		DESTDIR=$(CURDIR)/debian/puavo-webwindow

override_dh_install:
