#!/usr/bin/make -f

%:
	dh $@ --with systemd

export GEM_HOME := $(CURDIR)/debian/tmp
export PATH := $(GEM_HOME)/bin:$(PATH)

override_dh_auto_install:
	$(MAKE) -C admins					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-admins

	$(MAKE) -C autopilot				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-autopilot

	$(MAKE) -C blackboard				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-blackboard

	$(MAKE) -C client					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-client

	$(MAKE) -C conf					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-conf

	$(MAKE) -C core					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-core

	$(MAKE) -C devscripts				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-devscripts

	$(MAKE) -C devscripts				\
		install-lxc-tools prefix=/usr sysconfdir=/etc	\
		DESTDIR=$(CURDIR)/debian/puavo-devscripts-lxc

	$(MAKE) -C devscripts				\
		install-dch-suffix prefix=/usr sysconfdir=/etc	\
		DESTDIR=$(CURDIR)/debian/dch-suffix

	$(MAKE) -C hw-log					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-hw-log

	$(MAKE) -C hw-tools				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-hw-tools

	$(MAKE) -C iivari/client \
		install prefix=/usr sysconfdir=/etc \
		DESTDIR=$(CURDIR)/debian/iivari-client

	$(MAKE) -C local-config				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-local-config

	$(MAKE) -C ltsp/bootserver			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-ltsp-bootserver

	$(MAKE) -C ltsp/client				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-ltsp-client

	$(MAKE) -C ltsp/puavo-install			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-ltsp-install

	$(MAKE) -C ltsp/ruby-puavobs			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/ruby-puavobs

	$(MAKE) -C opinsys-ca-certificates			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/opinsys-ca-certificates

	$(MAKE) -C pkg					\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-pkg

	$(MAKE) -C sharedir/client			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-sharedir-client

	$(MAKE) -C sharedir/manager			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-sharedir-manager

	$(MAKE) -C vpn/client				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-vpn-client

	$(MAKE) -C webkiosk-language-selector		\
		install prefix=/usr sysconfdir=/etc	\
		DESTDIR=$(CURDIR)/debian/webkiosk-language-selector

	$(MAKE) -C webmenu				\
		install prefix=/usr sysconfdir=/etc	\
		DESTDIR=$(CURDIR)/debian/webmenu

	$(MAKE) -C wlan/ap				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-wlanap

	$(MAKE) -C wlan/gw				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-wlangw

	$(MAKE) -C wlan/mapper				\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-wlanmapper

	$(MAKE) -C wlan/controller			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/puavo-wlancontroller

	$(MAKE) -C wlan/ruby-puavowlan			\
		install prefix=/usr sysconfdir=/etc		\
		DESTDIR=$(CURDIR)/debian/ruby-puavowlan

override_dh_install:
