[Unit]
Description=Trigger Abitti-image updates

[Service]
Type=oneshot
ExecStart=/usr/local/lib/puavo-trigger-abitti-updates

[Install]
WantedBy=multi-user.target
