Source: nodejs-bundle
Section: utils
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8), libssl-dev, python
Standards-Version: 3.9.6
Homepage: http://nodejs.org/

Package: nodejs-bundle
Conflicts: node, nodejs, npm
Architecture: any
Depends: ${misc:Depends}, openssl
Description: node.js with npm
 node.js and npm in a single package. Replaces any other package providing
 node.js or npm.
 .
