
.bb-carousel

  font-size 0.8em
  text-align center
  margin 0 auto
  width 80%
  a
    text-decoration none
    &:hover
      text-decoration underline

  h1
    vertical-align middle
    color rgb(111, 111, 111)
    margin 0
    margin-bottom 0.2em
    font-size 1.2em

  p
    font-size 0.8em

  .nav
    font-size 0.7em
    display inline
    vertical-align middle
    button
      border 0px
      padding 0
      margin 0
      background-color transparent
      cursor pointer



