
.bb-feedback

  h2
    font-size 1.2rem

  .mood
    margin 0 auto
    text-align center

  .mood button
    cursor pointer
    font-size 20px
    height 4em
    margin 1em
    width 4em

  .textbox textarea
    height 60px
    width 100%
  
  .save
    padding 10px 20px
