
.feedback-container
  margin 0
  padding 0
  float left

.bb-feedback

  h2
    font-size 1.2rem
    text-align center

  .mood
    margin 0 auto
    text-align center


  .textbox
    margin auto
    width 80%

    textarea
      resize none
      width 100%
      display block
      height 6em
    ::-webkit-input-placeholder
      color #747373


  .save
    padding 10px 20px
    float right

  .cancel
    padding 10px 20px

  img
    width 120px
    padding-right 10px

  .unselected
    opacity 0.3

  .selected
    opacity 1
