
.bb-folder-title
  margin-left 10px
  margin-top 5px

  .arrow
    text-decoration none
    margin 0
    padding 0
    img
      vertical-align top
      height 35px


  .title
    font-size 20pt

  .description
    margin-left 10px
    font-size 9pt

  .description.no-name
    display block
    font-size 12pt
    margin-top 13px
