
.bb-lightbox

  .background
    position absolute
    background-color rgba(0, 0, 0, 0.8)
    bottom 0px
    left 0px
    right 0px
    top 0px
    z-index 99

  .wrap
    background-color white
    border 6px solid rgba(80,80,80,0.75)
    border-radius 4px
    box-shadow 10px 10px 20px #555, -10px -10px 20px #555
    color black
    bottom 150px
    left 120px
    right 120px
    top 150px
    padding 2em 2em 2em 2em
    position absolute
    z-index 100

    .shut-down-header img
      margin-bottom -0.35em
      padding-right 0.5em
