
.bb-lightbox

  .background
    bottom 0px
    left 0px
    position absolute
    right 0px
    top 0px
    z-index 99

  .wrap
    bottom 150px
    left 120px
    right 120px
    padding 2em 2em 2em 2em
    position absolute
    top 150px
    z-index 100

    .shut-down-header img
      margin-bottom -0.35em
      padding-right 0.5em

.bb-lightbox.fullscreen .wrap
  bottom 0px
  left 0px
  right 0px
  top 0px

.bb-lightbox.right .wrap
  bottom 30px
  right 30px
  top 30px
  left auto
  width 570px

