
.bb-lightbox

  .close
    float right

  .background
    position absolute
    background-color rgba(0, 0, 0, 0.8)
    bottom 0px
    left 0px
    right 0px
    top 0px
    z-index 99

  .wrap
    position absolute
    background-color white
    color black
    bottom 100px
    left 100px
    right 100px
    top 100px
    padding 1.5em
    z-index 100
