.bb-logout-view
  width = 350px

  width width
  margin 0 auto

  a
    text-decoration none

  .now
    display block
    margin-top 5px
    padding 8px

  .shut-down-header
    margin 0.35em 0 0.75em

  .logout-btn-container

    width width

    .other
      margin-top 10px
      float left
      display block

    .action
      float left
      display block

    .item
      padding 0px
      display block
      width (width / 2)
      height 50px
      img
        margin-left -12px //align img/text to middle
        vertical-align middle

    .js-other
      display block
      width width

    select
      margin 0px
      padding 5px
      width 100%
      height 100%

  hr
    margin-top 1em
    margin-bottom 1em


