.logout-btn-container
  button
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    border-radius: 6px
    font-size: 15px
    font-weight: bold
    padding: 6px 14px

  .bb-cancel
    float: right
