.bb-logout-view
  width = 350px

  width width
  margin 0 auto

  .shut-down-header
    margin 0.35em 0 0.75em

  .logout-btn-container

    width width

    .action
      float left
      display block
      width 50%
      margin-bottom 5px

    .item
      display block
      width 100%
      height 50px
      text-align left
      img
        vertical-align middle

    .js-shutdown
      margin-left 10px

    .js-other
      display block
      width width
      padding 5px

    select
      width 100%
      height 100%
      padding 5px
