.bb-lightbox .background {
  background-color: rgba(20,20,20,0.7);
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99;
}
.bb-lightbox .wrap {
  background-color: rgba(230,230,220,0.9);
  border: 5px solid #ad0000;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  display: table;
  margin: 5% auto;
  padding: 1.5em;
  position: relative;
  z-index: 100;
}
.bb-item-description h2 {
  font-size: 150%;
}
.bb-item-description h3 {
  font-size: 100%;
}
