
width = 125px
height = 100px
iconSize = 50px

.bb-menu-item
  cursor pointer
  margin 0px
  padding-top 5px
  position relative

  word-wrap break-word
  overflow hidden

  width width
  height height

  .osIcon, .cssIcon
    display block
    clear both
    margin auto 0

  &.type-menu img
    height 40px

  &.type-app img
    height 60px

  &.type-menu .thumbnail
    margin-top 20px

  .cssIcon
    font-size iconSize

  .item-name
    font-size 8pt
    margin 0px
    font-weight normal

  .thumbnail
    text-align center

  .description
    display none

  &.selectHighlight
    background-color red

  &.inactive
    .thumbnail
      opacity 0.3

  .inactiveNotify
    display none
    position absolute
    top 0px
    left 0px
    margin-top 10px
    text-align center
    color white


  &.type-menu
    background-repeat no-repeat
    background-image url(theme/default/folder.png)
    background-size 100% 100%

  &.type-menu:hover
    -webkit-animation-name open-folder
    -webkit-animation-duration 0.5s
    -webkit-animation-iteration-count 1
    -webkit-animation-fill-mode forwards

  &.type-app:hover img:not(.rotate-loading)
    -webkit-animation-name small-rotate
    -webkit-animation-duration 0.5s
    -webkit-animation-iteration-count 1
    -webkit-animation-fill-mode forwards

@keyframes small-rotate {

  0% {
    -webkit-transform: rotate(0deg)
  }

  100% {
    -webkit-transform: rotate(20deg)
  }

}


@keyframes open-folder {

  0% {
    -webkit-transform: matrix3d(
            1, 0, 0, 0,
            0, 1, 0, 0.000,
            0, 0, 1, 0,
            0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(
            1, 0, 0, 0,
            0, 1, 0, 0.003,
            0, 0, 1, 0,
            0, 10, 0, 1);
  }

}


@keyframes rotate {

  0% {
    -webkit-transform: rotate(20deg)
  }

  100% {
    -webkit-transform: rotate(1080deg)
  }
}


.rotate-loading
  -webit-transition-timing-function: none
  -webkit-animation-name rotate
  -webkit-animation-duration 0.8s
  -webkit-animation-iteration-count 10

