

@import "sizes"

.bb-menu-layout
  &,
  .sidebar,
  .footer,
  .main-area,
  .header,
  .border
    position absolute

  top borderMargin
  left borderMargin
  right borderMargin
  bottom borderMargin

  .main-area,
  .footer,
  .header
    right sideBarWidth

  .main-area
    disable-select()
    left borderMargin
    top headerHeight
    bottom footerHeight


  .header
    disable-select()
    height headerHeight
    left borderMargin
    top borderMargin

    .search-container
      disable-select()
      margin 5px
      margin-top 10px
      margin-bottom 10px
      float left
      ul
        margin 0px
        padding-left 0px

    .search-container
      margin-left 20px

  .border
    width 1px
    background-color black
    top 0px
    bottom 0px
    right sideBarWidth


  .sidebar
    width sideBarWidth
    top borderMargin
    bottom borderMargin
    right borderMargin

  .footer
    disable-select()
    height footerHeight
    left borderMargin
    bottom borderMargin

