
@import "sizes"


.bb-menu-list
  disable-select()

  position absolute
  bottom 0px
  top 0px
  right 0px
  left 0px

  padding 5px
  margin contentRightMargin
  margin-bottom 0px
  margin-top 0px
  overflow auto

  .bb-menu-item
    float left

