
@import "sizes"

.bb-menu-list
  position absolute
  bottom 0px
  top 0px
  right 0px
  left 0px

  padding 5px
  margin 20px
  margin-bottom 0px
  margin-top 0px
  overflow auto

  .bb-menu-item
    float left

  animation-duration 0.3s

