
width = 125px
height = 100px
iconSize = 50px

.bb-menu-item
  cursor pointer
  margin 0px
  padding-top 5px
  position relative

  word-wrap break-word
  overflow hidden

  width width
  height height

  .osIcon, .cssIcon
    width iconSize
    height iconSize
  .cssIcon
    font-size iconSize

  .item-name
    font-size 10pt
    margin 0px
    font-weight normal

  .thumbnail
    text-align center

  .description
    display none

  &.selectHighlight
    background-color red

  &.inactive
    .thumbnail
      opacity 0.3

  .inactiveNotify
    display none
    position absolute
    top 0px
    left 0px
    margin-top 10px
    text-align center
    color white

  &.type-menu:hover img
    -webkit-animation-name open-folder
    -webkit-animation-duration 1.0s
    -webkit-animation-iteration-count 1
    -webkit-animation-fill-mode forwards

@keyframes open-folder {

  0% {
    -webkit-transform: matrix3d(
            1, 0, 0, 0,
            0, 1, 0, 0.000,
            0, 0, 1, 0,
            0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(
            1, 0, 0, 0,
            0, 1, 0, 0.015,
            0, 0, 1, 0,
            0, 10, 0, 1);
  }

}
@keyframes rotate {

  0% {
    -webkit-transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(1080deg)
  }
}

.rotate-loading
  -webit-transition-timing-function: none
  -webkit-animation-name rotate
  -webkit-animation-duration 0.8s
  -webkit-animation-iteration-count infinite

