
mainAreaWidth = 70%
sideBarWidth = 30%

headerHeight = 50px
footerHeight = 180px

.bb-menu-layout
  .sidebar,
  .footer,
  .main-area,
  .header,
  .border
    position absolute

  .main-area,
  .footer,
  .header
    width mainAreaWidth

  .main-area
    left 0px
    top headerHeight
    bottom footerHeight
    overflow auto

  .header
    height headerHeight
    left 0px
    top 0px
    .search-container,
    .breadcrumbs-container
      float left
      ul
        margin 0px

  .border
    width 1px
    background-color black
    top 0px
    bottom 0px
    right sideBarWidth


  .sidebar
    width sideBarWidth
    top 0px
    bottom 0px
    right 0px

  .footer
    height footerHeight
    left 0px
    bottom 0px

