.bb-profile

  .settings-wrapper
    width 100%

  .settings-container
    overflow auto
    width 85% // shitty magic number
    margin-top 10px
    margin-left auto
    margin-right auto
    .bb-menu-item
      display inline-block
      width 50%

  .sidebar-footer
    position absolute
    bottom 0px
    right 0px

  .profile
    background-color #dfd7cf
    padding 0px
    margin 0px
    line-height 0px

    img
      vertical-align middle

    span
      padding 0px 0px 0px 10px
