
@import "sizes"

.bb-profile

  .settings-wrapper
    width 100%

  .settings-container
    overflow auto
    width 85% // shitty magic number
    margin-top 10px
    margin-left auto
    margin-right auto
    .bb-menu-item
      display inline-block
      width 50%

  .sidebar-footer
    position absolute
    bottom 0px
    right 0px

  .profile
    background-color #dfd7cf
    padding 0px
    margin 0px
    line-height 0px
    height headerHeight

    img
      vertical-align middle
      height 100%

    span
      padding 0px 0px 0px 10px

  .notification-container
    font-size 0.8em
    text-align center
    margin 0 auto
    width 80%
    margin-bottom 2em
    a
      text-decoration none
      &:hover
        text-decoration underline

    h2
      color rgb(111, 111, 111)
    h2 img
      vertical-align middle
    p
      font-size 0.8em
    .more
      display block
      float right
      margin-bottom 5px
      font-size 0.7em


