

.bb-profile

  .settings-wrapper
    width 100%
    text-align center

  .settings-container
    overflow auto
    width 85% // shitty magic number
    margin-top 10px
    margin-left auto
    margin-right auto
    .bb-menu-item
      float left


  .sidebar-footer
    position absolute
    bottom 0px
    right 0px

  .profile
    height 190px
    text-align center
    padding 10px
    background-color lightgray
    img
      height 150px

