
@import "sizes"

.tabs-container
  position: absolute;
  top 10px
  left: 30px;
  z-index: 999999;

.tab
  float left
  border-radius: 15px 15px 0 0;
  border: 1px solid #ddd;
  border-bottom: 0;
  margin-right 5px
  background-color: #DDD
  a
    display block
    padding 10px
    text-decoration none
    color black

.tab.active
  background-color: white;



