
@import "sizes"

.tabs-container
  position: absolute;
  top 10px
  left: 50px;
  z-index: 999999;

.tab
  float left
  padding: 10px;
  border-radius: 15px 15px 0 0;
  border: 1px solid #ddd;
  border-bottom: 0;
  margin-right 5px
  background-color: #DDD

.tab.active
  background-color: white;



