#!/usr/bin/make -f

export PYBUILD_NAME=anki

%:
	dh $@ --with python3

# standard make target only prints help message
override_dh_auto_build:

# prevent Makefile install target being run
override_dh_auto_install:

override_dh_install:
	dh_install
	cp debian/anki-launcher debian/anki/usr/bin/anki

override_dh_fixperms:
	find debian/anki/usr/share/anki -type f -perm -1 -exec chmod a-x {} \;
	dh_fixperms

override_dh_clean:
	find . -type f -a -name '*.py[co]' -exec rm -f {} \;
	dh_clean
