Source: puavo-devscripts
Section: utils
Priority: extra
Maintainer: Opinsys Developers <dev@opinsys.fi>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-devscripts

Package: puavo-devscripts
Architecture: all
Depends: ${misc:Depends},
 bash,
 devscripts,
 equivs,
 git-core,
 qemu-utils,
 squashfs-tools,
 wget
Recommends: quilt
Description: Puavo developer tools
 Scripts to make the life of a Opinsys developer easier

Package: puavo-devscripts-lxc
Architecture: all
Depends: ${misc:Depends},
 lxc
Description: Puavo lxc developer tools
 Few scripts to manage lxc containers

Package: dch-suffix
Architecture: all
Depends: ${misc:Depends},
 python3-apt,
 python3-debian
Description: Generate new block for debian/changelog file
 The block will get version number from the previous block with the
 VERSION_SUFFIX added
