#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install prefix=/usr sysconfdir=/etc DESTDIR=$(CURDIR)/debian/puavo-devscripts
	$(MAKE) install-lxc-tools prefix=/usr sysconfdir=/etc DESTDIR=$(CURDIR)/debian/puavo-devscripts-lxc
	$(MAKE) install-dch-suffix prefix=/usr sysconfdir=/etc DESTDIR=$(CURDIR)/debian/dch-suffix
