[Unit]
Description=Disable DRRS conditionally
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/puavo-maybe-disable-drrs

[Install]
WantedBy=multi-user.target
