[Desktop Entry]
Version=1.0
Name=Webmenu Logout
Comment=A desktop menu application
Exec=webmenu-spawn --logout
Terminal=false
Type=Application
Icon=webmenu
Categories=Utility;
