[Desktop Entry]
Version=1.0
Name=Webmenu Spawn
Comment=A desktop menu application
Exec=webmenu-spawn
Terminal=false
Type=Application
Icon=webmenu
Categories=Utility;
