<div class="slide_title">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>

<div class="lefthalf">
  <%= f.file_field :image %>
</div>

<div class="righthalf">
  <%= f.text_area :body, :class => 'mceEditor' %>
</div>
