<div>
<iframe style="z-index: -1;" scrolling="no" height="450" width="720" src="/asdfdsasdfsadfasdf/conductor?cache=false&slide_id=<%= @slide.id %>&resolution=720x450">
</iframe>
</div>

<%= link_to t('links.edit'), edit_channel_slide_path(@channel, @slide) %> |
<%= link_to t('links.back'), channel_slides_path %>
